<%= form_with(model: deal, url: account_deals_path(current_user.account), class: "flex flex-col gap-5") do |form| %>
  <div class= "grid sm:grid-cols-2 gap-4">
    <div class="flex flex-col gap-1">
      <%= form.label :name, "Título do negócio", class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.text_field :name, placeholder: "Vendas", class: 'form-input' %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :stage_id, "Funil", class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.select(:stage_id, @stages.map { |stage| [stage.name, stage.id] }, {}, { class: 'form-input' }) %>
    </div>
  </div>
  <div class= "grid sm:grid-cols-3 gap-4">
    <div class="flex flex-col gap-1">
      <%= form.label :full_name, "Nome completo", class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.text_field :full_name, placeholder: deal.contact.full_name, class: 'form-input' %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :phone, "Telefone", class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.text_field :phone, placeholder: deal.contact.phone, class: 'form-input' %>
    </div>
      <div class="flex flex-col gap-1">
        <%= form.label :email, "Email", class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= form.text_field :email, placeholder: deal.contact.email, class: 'form-input' %>
    </div>
  </div>
  <%= form.hidden_field :contact_id, class: 'form-control' %>
  <%= form.submit 'Submit', class: 'btn-primary self-end cursor-pointer' %>
<% end %>








<!-- <div data-controller="new-deal">
  <%= form_with(model: deal, url: account_deals_path(current_user.account)) do |form| %>
    <% if deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% deal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= form.label :stage_id %>
      <%= form.select(:stage_id, @stages.map { |stage| [stage.name, stage.id] }, {}, { class: 'form-control' }) %>
    </div>

    <div class="section-title">Contact</div>

    <% if deal.contact_id.present? %>
      <%= form.hidden_field :contact_id, class: 'form-control' %>

      <div class="form-group">
        <%= label_tag :full_name %>
        <%= text_field_tag "full_name", deal.contact.full_name, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= label_tag :phone %>
        <%= text_field_tag "phone", deal.contact.phone, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag "email", deal.contact.email, class: 'form-control', disabled: true %>
      </div>

    <% else %>

      <%= form.fields_for :contact, deal.contact do | contact_form | %>

        <div class="form-group">
          <%= contact_form.label :full_name %>
          <%= contact_form.text_field :full_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= contact_form.label :phone %>
          <%= contact_form.text_field :phone, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= contact_form.label :email %>
          <%= contact_form.text_field :email, class: 'form-control' %>
        </div>
      <% end %>

    <% end %>


    <div class="card-footer text-right">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div> -->