<div data-controller="new-deal">
  <%= form_with(model: deal, url: account_deals_path(current_user.account)) do |form| %>
    <% if deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% deal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= form.label :stage_id %>
      <%= form.select(:stage_id, @stages.map { |stage| [stage.name, stage.id] }, {}, { class: 'form-control' }) %>
    </div>

    <div class="section-title">Contact</div>

    <% if deal.contact_id.present? %>
      <%= form.hidden_field :contact_id, class: 'form-control' %>

      <div class="form-group">
        <%= label_tag :full_name %>
        <%= text_field_tag "full_name", deal.contact.full_name, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= label_tag :phone %>
        <%= text_field_tag "phone", deal.contact.phone, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag "email", deal.contact.email, class: 'form-control', disabled: true %>
      </div>

    <% else %>

      <%= form.fields_for :contact, deal.contact do | contact_form | %>

        <div class="form-group">
          <%= contact_form.label :full_name %>
          <%= contact_form.text_field :full_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= contact_form.label :phone %>
          <%= contact_form.text_field :phone, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= contact_form.label :email %>
          <%= contact_form.text_field :email, class: 'form-control' %>
        </div>
      <% end %>

    <% end %>


    <div class="card-footer text-right">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>