<div class="hidden md:block mb-8 rounded-s p-3 bg-light-palette-p5 border-2 border-light-palette-p3 rounded" id='stages_nav_desktop' data-controller='load-flowbite stages-nav'>
  <nav aria-label="breadcrumb" class="stage-bar">
    <div class="flex space-x-[-5px]">
      <% deal.stage.pipeline.stages.order(:position).each_with_index do | stage, index | %>
        <% if stage == deal.stage or deal.stage.position > stage.position %>
          <%= link_to account_deal_path(deal.account, deal, deal: { status: deal.status, stage_id: stage.id } ), method: :patch, data: { action: 'mouseover->stages-nav#mouseOver mouseout->stages-nav#mouseOut', confirm: t('views.accounts.deals.stages_nav_desktop.are_you_sure?'), tooltip_target:"tooltip-default-#{stage.id}", link_stage_id: stage.id, color: 'green' }, class: "overflow-hidden  first:rounded-l-lg last:rounded-r-lg justify-center flex flex-1 bg-auxiliary-palette-green hover:bg-auxiliary-palette-green-down group before:absolute", aria_current:"page"  do %>
            <p class="truncate py-2.5 pr-2.5 pl-6 leading-none typography-micro-b-lh150 text-light-palette-p5 group-hover:text-auxiliary-palette-green" data-name-stage-id="<%= stage.id %>" data-color="green">
              <%= stage.name %>
            </p>
          <% end %>
          <% unless index == deal.stage.pipeline.stages.length - 1  %>
            <%= link_to account_deal_path(deal.account, deal, deal: { status: deal.status, stage_id: stage.id } ), method: :patch, data: { action: 'mouseover->stages-nav#mouseOver mouseout->stages-nav#mouseOut', confirm: t('views.accounts.deals.stages_nav_desktop.are_you_sure?') }, class: "relative border-solid  border-l-light-palette-p5  border-l-[16px] right-[-11px] border-y-transparent border-b-[17px] border-t-[16.4px]", aria_current:"page"  do %>
              <div class="absolute top-0 hover:border-l-auxiliary-palette-green-down border-solid border-y-transparent  border-b-[17px] border-t-[16.4px]  inline-block border-l-auxiliary-palette-green border-l-[17px] right-[5px] z-50 top-[-16.4px]" data-arrow-stage-id="<%= stage.id %>" data-color="green"></div>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to account_deal_path(deal.account, deal, deal: { status: deal.status, stage_id: stage.id } ), method: :patch, data: {  action: 'mouseover->stages-nav#mouseOver mouseout->stages-nav#mouseOut', confirm: t('views.accounts.deals.stages_nav_desktop.are_you_sure?'), tooltip_target:"tooltip-default-#{stage.id}", link_stage_id: stage.id, color: 'gray'  }, class: "overflow-hidden flex flex-1 bg-gray-100 hover:bg-gray-200 first:rounded-l-lg last:rounded-r-lg justify-center before:absolute"  do %>
            <p class="truncate py-2.5 pr-2.5 pl-6  leading-none typography-micro-b-lh150 text-dark-gray-palette-p2" data-name-stage-id="<%= stage.id %>" data-color="gray">
              <%= stage.name %>
            </p>
          <% end %>
          <% unless index == deal.stage.pipeline.stages.length - 1  %>
            <%= link_to account_deal_path(deal.account, deal, deal: { status: deal.status, stage_id: stage.id } ), method: :patch, data: { action: 'mouseover->stages-nav#mouseOver mouseout->stages-nav#mouseOut', confirm: t('views.accounts.deals.stages_nav_desktop.are_you_sure?')}, class: "relative border-solid border-l-light-palette-p5  border-l-[16px] border-y-transparent border-b-[17px] right-[-11px] border-t-[16.4px]"  do %>
              <div class="absolute top-0 hover:border-l-gray-200 border-solid border-y-transparent border-b-[17px] border-t-[16.4px]  inline-block border-l-gray-100   border-l-[17px] right-[5px] z-50 top-[-16.4px]" data-arrow-stage-id="<%= stage.id %>" data-color="gray"></div>
            <% end %>
          <% end %>
        <% end %>
        <div id="tooltip-default-<%= stage.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 typography-text-m-lh150 text-dark-gray-palette-p3 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip transition-opacity duration-300">
          <%= stage.name %>
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      <% end %>
    </ol>
  </nav>
</div>
