<section class="section">
  <div class="section-header">
    <h1>Adicionar contato</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="col-lg-5 container">

          <div data-controller="new-deal">
            <%= form_with(model: @deal, url: account_deal_commit_add_contact_path(current_user.account, @deal), method: :post) do |form| %>
              
            <% if @deal.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

                <ul>
                  <% @deal.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

              
              <div class="section-title">Contact</div>
              <div class="form-group">
                <select class="form-control select2">
                  <option selected="selected" value="">New contact</option>
                </select>
              </div>

              <%= form.hidden_field :contact_id, class: 'form-control' %>

              <div class="card-footer text-right">
                <%= form.submit 'Continue', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>