<%= turbo_stream_from [current_user.account.id, :deal] %>
<%= turbo_stream_from [@deal.id, :deal_product] %>
<div class="relative">
  <div class="stage-bar mb-8 rounded-none md:hidden p-3 bg-light-palette-p5 border-b-2 border-light-palette-p3 rounded">
    <%= render "/components/deals/stages_nav", deal: @deal %>
  </div>
  <section class="px-8 md:p-8 bg-brand-palette-08">
    <%= render "/accounts/deals/stages_nav_desktop", deal: @deal %>
    <div class="grid grid-cols-1 min-[1400px]:grid-cols-[minmax(500px,_1fr)_3fr] gap-8 w-full ">
      <div data-controller="element-expanded">
        <%= render "/accounts/deals/details" %>
      </div>
      <div class="">
        <div class="gap-8">
          <div class="bg-light-palette-p5 border-2 border-neutral-150 border-light-palette-p3 rounded ">
            <%= turbo_frame_tag dom_id(Event.new), src: new_account_contact_event_path(account_id: current_user.account, contact_id: @deal.contact.id, deal_id: @deal.id), loading: :lazy do %>
              <%= render '/components/skeleton/event_form' %>
            <% end %>
          </div>
        </div>
        <div class="mt-8">
          <%= render '/accounts/deals/events', deal: @deal %>
        </div>
      </div>
    </div>
  </section>
</div>
