<section class="section">
  <div class="section-header">
    
    <div class="card-body">
      <h1><%= @deal.name %></h1>
      <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item col">
            <% if @deal.status != 'lost' %>
              <%= link_to 'Lost', account_deal_path(current_user.account, @deal, deal: { status: 'lost'} ), method: :patch, data: { confirm: 'Are you sure?' } %>
            <% else %>
              Lost
            <% end %>
          </li>

          <% @deal.stage.pipeline.stages.each do | stage | %>
            <% if stage == @deal.stage and @deal.status == 'open' %>
              <li class="breadcrumb-item col active" aria-current="page"><%= stage.name %></li>
            <% else %>
              <li class="breadcrumb-item col">
                <%= link_to stage.name, account_deal_path(current_user.account, @deal, deal: { status: 'open', stage_id: stage.id } ), method: :patch, data: { confirm: 'Are you sure?' } %>            
              </li>


            <% end %>
          <% end %>
          <li class="breadcrumb-item col">
            <% if @deal.status != 'won' %>
              <%= link_to 'Won', account_deal_path(current_user.account, @deal, deal: { status: 'won'} ), method: :patch, data: { confirm: 'Are you sure?' } %>
            <% else %>
              Won
            <% end %>
          </li>
        </ol>
      </nav>
    </div> 
  </div>

  <div class="row">
    <div class="col-12 col-md-7 col-lg-4">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Details</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: @deal, url: account_deal_path(current_user.account), role:"form", class:"needs-validation") do |f| %>
            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="card-footer text-right">
              <%= f.submit 'Update', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card card-primary">
        <div class="card-header">
          <h4>Contact</h4>
        </div>
        <div class="card-body">
          <%= render '/accounts/contacts/form', contact: @deal.contact %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-primary">
        <div class="card-header">
          <h4>New</h4>
        </div>
        <div class="card-body">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li hidden class="nav-item">
              <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Note</a>
            </li>
            <li hidden class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#whatsapp" role="tab" aria-controls="whatsapp" aria-selected="true">Whatsapp</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
              <%# render "/accounts/deals/notes/form.html.erb", note: @note %>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <%# render "/accounts/deals/activities/form", activity: @activity %>
            </div>
            <div class="tab-pane fade show active" id="whatsapp" role="tabpanel" aria-labelledby="whatsapp-tab">
              <%# render "/accounts/deals/activities/wp_form", flow_item: @flow_item, deal: @deal %>
            </div>
          </div>
        </div>
      </div>

      <% # render "/accounts/deals/flow_items/items", deal: @deal, flow_items: @flow_items %>
    </div>
  </div>
</section>
