<%= turbo_frame_tag "form_deal_#{model.id}" do %>
  <%= form_with(model: model, url: account_deal_path(current_user.account, model)) do |form| %>
    <% if model.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(model.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% model.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="bg-light-palette-p5 rounded-md mb-4 px-3 pb-6">
      <div class="flex items-center h-16">
        <p class="flex items-center m-0 mr-auto font-semibold text-lg"><%= model_name %></p>
        <%= form.submit 'Salvar alterações', class: 'text-brand-palette-03' %>

        <%= link_to account_deal_path(current_user.account, model), class: 'pl-2 text-dark-gray-palette-p3' do %>
          <i data-lucide="x" height="16"></i>
        <% end %>
      </div>
      <div class="py-3">
        <div class="">
          <div class="flex items-center">
            <%= form.label :name, class: 'm-0' %>
            <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
            <%= form.text_field :name, class: 'form-control', class: 'rounded-md w-48 border-light-palette-p2 bg-light-palette-p3' %>
          </div>
        </div>
        <div class="border-t-2 border-light-palette-p3 py-2 mt-4">
          <div class="flex items-center mt-2">
            <label class="flex-grow m-0">Adicionar campos</label>
            <a class="rounded-md w-48 border-light-palette-p2 bg-light-palette-p3 h-10 d-flex align-items-center justify-content-center text-dark-gray-palette-p3 hover:text-dark-gray-palette-p3">
              <i data-lucide="plus" height="18" class="text-red"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>