<%= turbo_frame_tag "form_deal_#{model.id}" do %>
  <div class="bg-light-palette-p5 rounded-md mb-4 px-3 pb-6">
    <div class="flex items-center h-16">
      <p class="flex items-center m-0 mr-auto font-semibold text-lg"><%= model_name %></p>
      <%= link_to edit_account_deal_path(current_user.account, model), class: 'text-dark-gray-palette-p3' do %>
      <div class="hover:border-[1.5px] hover:border-brand-palette-06 p-2 hover:rounded-md hover:bg-brand-palette-08 hover:duration-75 ">
        <i data-lucide="pencil" height="16" class=""></i>
      </div>
      <% end %>

      <%= link_to '#', class: 'pl-2 text-dark-gray-palette-p3' do %>
      <div class="hover:border-[1.5px] hover:border-brand-palette-06 p-2 hover:rounded-md hover:bg-brand-palette-08 hover:duration-75">
        <i data-lucide="chevron-down" height="16"></i>
      </div>
      <% end %>
    </div>
    <div class="py-3">
      <div class="flex items-center">
        <label class="flex-none m-auto">Nome</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <p class="m-0"><%= model.name %></p>
      </div>
      <%= render 'accounts/deals/details/show_custom_attributes', model: model %>
    </div>
  </div>
<% end %>