<section class="welcome-bg m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md px-4 py-5 relative overflow-hidden z-10">
  <div class="flex items-center gap-2 text-dark-gray-palette-p1">
    <h1 class="typography-title-b-lh150">
      <%= t('views.accounts.welcome.index.welcome_header', crm_name: 'Woofed CRM').html_safe %>
    </h1>
    <i data-lucide="bone" class="w-7 h-7"></i>
  </div>
  <p class="typography-text-s-lh200 text-dark-gray-palette-p3 max-w-2xl mt-10">
    <%= t('views.accounts.welcome.index.welcome_message', crm_name: 'Woofed CRM').html_safe %>
  </p>
  <p class="typography-text-s-lh200 text-dark-gray-palette-p3 max-w-2xl mt-7">
    <%= t('views.accounts.welcome.index.get_started_message').html_safe %>
  </p>
  <div class="mt-7 flex justify-between items-center">
    <%= link_to t('activerecord.models.pipeline.new'), new_account_pipeline_path(current_user), class: 'btn-primary' %>
    <div class="flex gap-2.5 justify-center flex-wrap text-center typography-micro-m-lh150 text-dark-gray-palette-p1">
      <%= link_to 'Policy terms', 'https://woofedcrm.com/policy-terms/', target: :_blank %>
      <%= link_to 'Terms of Service', 'https://woofedcrm.com/terms-of-service/', target: :_blank %>
    </div>
  </div>
</section>
