<%= form_with(model: activity_kind, url: settings_activity_kind_path) do |form| %>
  <% if activity_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity_kind.errors.count, "error") %> prohibited this activity kind from being saved:</h2>

      <ul>
        <% activity_kind.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>


<% activity_kind['settings'].each do |item| %>
  <div class="form-group">
    <%= label_tag 'activity_kind[settings][text]', item[0] %>
    <%= text_field_tag "activity_kind[settings][#{item[0]}]", item[1], class: 'form-control' %>
  </div>
<% end %>


  <div class="card-footer text-right">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
