<%= form_with(model: chatwoot, url: account_apps_chatwoots_path(current_user.account), data: {turbo: false}, id: 'formId') do |form| %>
  <% if chatwoot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatwoot.errors.count, "error") %> prohibited this activity kind from being saved:</h2>

      <ul>
        <% chatwoot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :chatwoot_endpoint_url, 'Endereço do Chatwoot' %>
    <%= form.text_field :chatwoot_endpoint_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :chatwoot_account_id, 'Account ID' %>
    <%= form.text_field :chatwoot_account_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :chatwoot_user_token, 'Token do usuário' %>
    <%= form.text_field :chatwoot_user_token, class: 'form-control' %>
  </div>

  <div class="card-footer text-right">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
