<section class="section">
  <div class="section-header">
    <h1>Configurar Chatwoot</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="col-lg-5 container">
          <%= form_with(model: @chatwoot, url: account_apps_chatwoots_path(current_user.account), data: {turbo: false}, id: 'formId') do |form| %>
            <% if @chatwoot.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@chatwoot.errors.count, "error") %> prohibited this activity kind from being saved:</h2>

                <ul>
                  <% @chatwoot.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :chatwoot_endpoint_url, 'Endereço do Chatwoot' %>
              <%= form.text_field :chatwoot_endpoint_url, class: 'form-control', disabled: true %>
            </div>

            <div class="form-group">
              <%= form.label :chatwoot_account_id, 'Token do usuário' %>
              <%= form.text_field :chatwoot_account_id, class: 'form-control', disabled: true %>
            </div>

            <div class="form-group">
              <%= form.label :chatwoot_user_token, 'Token do usuário' %>
              <%= form.text_field :chatwoot_user_token, class: 'form-control', disabled: true %>
            </div>

            <div class="card-footer text-right">
              <%= link_to 'Excluir', account_apps_chatwoot_path(current_user.account, @chatwoot),
                  method: :delete, data: {confirm: 'Tem certeza?'}, class: 'btn btn-icon icon-left btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>