<nav class="flex flex-wrap z-10 items-center w-full justify-between py-3 px-8 bg-light-palette-p5 border-b-[1.5px] border-light-palette-p3 ">
  <div class="flex items-center">
    <%= link_to(:back, class: "flex border-solid border-2 border-light-palette-p3 rounded-md hover:bg-brand-palette-08 focus:bg-brand-palette-08 p-2") do %>
    <i data-lucide="chevron-left"></i>
    <% end %> 
    <div class="h-full flex items-center border-r-2 border-light-palette-p3 px-16">
      <p class="m-0 font-semibold"><%= @deal.name %></p>
    </div>
    <div class="h-full flex items-center mx-3">
      <p class="m-0"><%= @deal.stage.pipeline.name %></p>
    </div>
    <div class="h-full flex items-center mx-3">
      <i class="fas fa-chevron-right icon"></i>
    </div>

    <div class="h-full flex items-center mx-3">
      <p class="m-0"><%= @deal.stage.name %></p>
    </div>
  </div>
  <div class="flex">
    <%= link_to(
      'Perdido',
      account_deal_path(current_user.account, @deal, deal: { status: 'lost'} ),
      method: :patch,
      data: { confirm: 'Are you sure?' },
      class: 'rounded-md px-4 py-2 bg-auxiliary-palette-red-down text-auxiliary-palette-red text-center hover:bg-auxiliary-palette-red-2 hover:text-white hover:no-underline font-semibold mr-2') %>

    <%= link_to(
      'Ganho',
      account_deal_path(current_user.account, @deal, deal: { status: 'won'}),
      method: :patch,
      data: { confirm: 'Are you sure?' },
      class: 'rounded-md px-4 py-2 bg-auxiliary-palette-green-down text-auxiliary-palette-green text-center hover:bg-auxiliary-palette-green-2  hover:no-underline font-semibold hover:text-white') %>
    
  </div>
</nav>