<div class="flex items-center ">
  <div class="flex flex-wrap items-center mr-4 flex-1">
    <div class="p-2.5 mr-[-2px] border-solid border-2 border-light-palette-p3 rounded-l-md bg-brand-palette-08">
      <div class="icon-color color-brand-palette-03">
        <%= embedded_svg('vectooor2.svg') %>
      </div>
    </div>
    <select class="p-2.5 border-solid border-2 border-light-palette-p3 w-52 focus:border-brand-palette-04 focus:ring-0 focus:text-brand-palette-04" onchange="window.location=this.value">
      <%= @pipelines.each do | pipeline |  %>
        <option value="<%= account_pipeline_path(current_user.account, pipeline.id) %>" <%= pipeline.id == @pipeline.id ? 'selected' : '' %>><%= pipeline.name %></option>
      <% end %>
    </select>
      <%= link_to(edit_account_pipeline_path(current_user.account, @pipeline), class: 'p-2.5 border-solid border-2 border-light-palette-p3 rounded-md flex-1 hover:border-brand-palette-04 ml-1' ) do %>
        <%= embedded_svg('pencil-icon.svg') %>
      <% end %>
  </div>

  <%= link_to new_select_contact_account_deals_path(current_user.account), class: 'w-32 h-10 rounded-md px-2 py-2.5 bg-brand-palette-03 text-white text-center hover:bg-brand-palette-04 hover:no-underline ' do %>
    Novo negócio
  <% end %>
</div>
<button type="button" class="flex border-solid border-2 border-light-palette-p3 rounded-md hover:bg-brand-palette-08 focus:bg-brand-palette-08 p-2.5" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
  <span class="sr-only">Open user menu</span>
  <i class="far fa-user "></i>
</button>
<!-- Dropdown menu -->
<div class="z-50 my-4 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
  <div class="px-4 py-3">
    <span class="block text-sm text-gray-900 dark:text-white"><%= current_user.full_name %></span>
    <span class="block text-sm  text-gray-500 truncate dark:text-gray-400"><%= current_user.email %></span>
  </div>
  <ul class="py-2 mb-0" aria-labelledby="user-menu-button">
    <li>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-brand-palette-03 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white hover:no-underline">My account</a>
    </li>
  </ul>
  <div class="py-1">
    <%= link_to destroy_user_session_path, class:"flex items-center px-3 py-2 text-sm text-red-600 hover:text-white hover:bg-red-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-red-500 dark:hover:text-white hover:no-underline", :method => :delete do %>
    <i class="fas fa-sign-out-alt w-4 h-4 mr-2" style="display: flex; align-items: center;"></i>
    Logout
    <% end %>
  </div>
</div>

