<% if ['edit'].include?(action_name) %>
  <h1 class="typography-title-b-lh150 text-dark-gray-palette-p1">Editar funil</h1>
<% else %>
  <button data-collapse-toggle="navbar-search" type="button" class="md:hidden inline-flex items-center justify-center w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring focus:ring-violet-300 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 " aria-controls="navbar-search" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <%= embedded_svg('vectooor2.svg', {class: 'h-5 w-5 m-0.5 fill-brand-palette-03'}) %>
  </button>

  <div class="hidden md:flex items-center">
    <div class="flex flex-wrap mr-[1rem] flex-1">
      <div class="p-2.5 border-solid border-2 border-light-palette-p3 rounded-l-md bg-brand-palette-08 ">
        <%= embedded_svg('vectooor2.svg', {class: 'h-5 w-5 m-0.5 fill-brand-palette-03'}) %>
      </div>

      <select class="p-2.5 mx-[-2px] border-solid border-2 border-light-palette-p3 w-52 focus:border-brand-palette-04 focus:ring-0 focus:text-brand-palette-04 focus:z-10 typography-text-r-lh150 text-dark-gray-palette-p3" onchange="window.location=this.value">
        <%= @pipelines.each do | pipeline |  %>
          <option value="<%= account_pipeline_path(current_user.account, pipeline.id) %>" <%= pipeline.id == @pipeline.id ? 'selected' : '' %>><%= pipeline.name %></option>
        <% end %>
      </select>

      <%= link_to(edit_account_pipeline_path(current_user.account, @pipeline), class: 'p-2.5 border-solid border-2 border-light-palette-p3 rounded-r-lg flex-1 hover:border-brand-palette-04' ) do %>
        <%= embedded_svg('pencil-icon.svg', class: 'm-0.5') %>
      <% end %>
    </div>

    <%= link_to new_select_contact_account_deals_path(current_user.account, pipeline_id: @pipeline), class: 'px-4 py-[0.75rem] rounded-md
    bg-brand-palette-03 text-white text-center hover:bg-brand-palette-04 hover:no-underline font-semibold' do %>
      Novo negócio
    <% end %>
  </div>

  <button type="button" class="flex border-solid border-2 border-light-palette-p3 rounded-md hover:bg-brand-palette-08 focus:bg-brand-palette-08 p-2.5" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
    <span class="sr-only">Open user menu</span>
    <i data-lucide="user" class="stroke-gray-500 w-5"></i>
  </button>
  <%# Dropdown menu %>
  <div class="z-50 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
    <div class="px-4 py-3">
      <span class="block text-sm text-gray-900 dark:text-white"><%= current_user.full_name %></span>
      <span class="block text-sm  text-gray-500 truncate dark:text-gray-400"><%= current_user.email %></span>
    </div>
    <ul class="py-2 mb-0" aria-labelledby="user-menu-button">
      <li>
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-brand-palette-03 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white hover:no-underline">My account</a>
      </li>
    </ul>
    <div class="py-1">
      <%= link_to destroy_user_session_path, class:"flex items-center px-3 py-2 text-sm text-red-600 hover:text-white hover:bg-red-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-red-500 dark:hover:text-white hover:no-underline", :method => :delete do %>
      <i class="fas fa-sign-out-alt w-4 h-4 mr-2" style="display: flex; align-items: center;"></i>
      Logout
      <% end %>
    </div>
  </div>
  <div class="z-50 top-[73px] left-0 w-full hidden bg-white px-4 pb-4 absolute" id="navbar-search">
    <div class="flex flex-wrap gap-px font-medium mt-2 rounded-lg bg-gray-50">
      <select class="p-2.5 flex-[6_1_160px] mx-[-2px] border-solid border-2 border-light-palette-p3 focus:border-brand-palette-04 focus:ring-0 focus:text-brand-palette-04 focus:z-10 typography-text-r-lh150" onchange="window.location=this.value">
        <%= @pipelines.each do | pipeline |  %>
          <option value="<%= account_pipeline_path(current_user.account, pipeline.id) %>" <%= pipeline.id == @pipeline.id ? 'selected' : '' %>><%= pipeline.name %></option>
        <% end %>
      </select>
      <%= link_to(edit_account_pipeline_path(current_user.account, @pipeline), class: 'p-2.5 mr-0 min-[142px]:mr-2 min-[142px]:mt-0 border-solid border-2 border-light-palette-p3 rounded-r-lg hover:border-brand-palette-04' ) do %>
        <%= embedded_svg('pencil-icon.svg', class: 'm-0.5') %>
      <% end %>
      <%= link_to new_select_contact_account_deals_path(current_user.account), class: 'flex-[1_1_142px] mt-2 min-[142px]:mt-0 px-4 py-[0.75rem] rounded-md
      bg-brand-palette-03 text-white text-center hover:bg-brand-palette-04 hover:no-underline font-semibold' do %>
        Novo negócio
      <% end %>
    </div>
  </div>
<% end %>