<%= stylesheet_link_tag "sidebar", media: 'all' %>

<div class="main-sidebar main-sidebar-custom">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <div class="row">
        <div class="col ml-3">
          <%= link_to(root_path()) do %>
            <%= image_tag "logo.png", class: 'logo-img' %>
          <% end %>
        </div>

        <div class="col mr-3">
          <a href="#" data-toggle="sidebar" class="nav-button"><i class="fas fa-bars"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <div>
        <a href="#" data-toggle="sidebar" class="logo-mini"><%= embedded_svg("logo-patinha.svg")%></a>
    </div>
      <div class="col mr-3">
          <a href="#" data-toggle="sidebar" class="nav-button botao-mini"><i class="fas fa-bars"></i></a>
        </div>
          <div class="dropdown-divider"></div>
    </div>
    <div class="sidebar-component">
      <div class="container">
        <div class="row">
          <div class="col align-self-start deals-sidebar">
            <ul class="sidebar-menu">
              <li class="<%= 'active' if request.path.include?('pipelines') or request.path.include?('deal') %>">
                <%= link_to(account_pipelines_path(current_user.account), class: 'nav-link') do %>
                  <%= embedded_svg('deals-icon.svg') %>
                  <span class="ml-2">Negócios</span>
                <% end %>
              </li>

              <li class="<%= 'active' if request.path.include?('contact') or request.path.include?('contact') %>">
                <%= link_to(account_contacts_path(current_user.account), class: 'nav-link') do %>
                  <%= embedded_svg('contacts-icon.svg') %>
                  <span class="ml-2">Contatos</span>
                <% end %>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
          </div>
          <div class="align-self-center">
          </div>
          <div class="col align-self-end">
            <div>
              <ul class="sidebar-menu">
                <li class="<%= 'active' if request.path.include?('settings') %>">
                  <%= link_to(account_settings_path(current_user.account), class: 'nav-link') do %>
                    <%= embedded_svg('company-icon.svg') %>
                    <span class="ml-2">Empresa</span>
                  <% end %>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>