<div data-controller="element-expanded" aria-expanded="true" class="group ease-in duration-300 h-screen border-r-2 border-light-palette-p3 relative p-4 space-y-4 w-[72px] aria-expanded:w-60" id="element-expand" data-element-expanded-target='sidebar'>
  <div class="flex items-center flex-wrap justify-between">
    <%= link_to(root_path()) do %>
      <%= image_tag "logo.svg", class: 'w-36 block group-aria-[expanded=false]:hidden' %>
    <% end %>
    <%= link_to(root_path()) do %>
      <div  class= 'hidden group-aria-[expanded=false]:block w-[40px] border-2 border-light-palette-p3 p-1.5 rounded-md hover:bg-brand-palette-08' >
        <%= image_tag "logo-patinha.svg"%>
      </div>
    <% end %>
    <button data-action="click->element-expanded#toggle" class="group-aria-[expanded=false]:mt-4 group-aria-[expanded=false]:h-[40px] group-aria-[expanded=false]:p-2 border-2 mt-0 h-auto border-light-palette-p3 p-2.5 rounded-md hover:bg-brand-palette-08"><i data-lucide="menu" class="w-5 stroke-dark-gray-palette-p3"></i></button>
  </div>
  <div class="hidden group-aria-[expanded=false]:block h-[2px] w-full bg-light-palette-p3"></div>
  <ul class="flex flex-col space-y-3 border-b-md">
    <li class="<%= ' bg-brand-palette-08  !border-brand-palette-07 rounded-md !text-brand-palette-03' if request.path.include?('pipelines') or request.path.include?('deal') %> text-dark-gray-palette-p3 border-2 border-transparent hover:bg-brand-palette-08 hover:rounded-md group-aria-[expanded=false]:w-full group-aria-[expanded=false]:h-[40px]">
      <%= link_to(account_pipelines_path(Current.account), class: 'group-aria-[expanded=false]:p-2.5 flex space-x-3 p-3 items-center') do %>
        <%= embedded_svg("deals-icon.svg", class: "w-4 #{'!fill-brand-palette-03 ' if request.path.include?('pipelines') or request.path.include?('deal')} group-aria-[expanded=false]:mx-auto fill-dark-gray-palette-p3") %>
        <span class="group-aria-[expanded=false]:hidden inline-block ml-2 typography-text-m-lh150">
          <%= t('activerecord.models.deal.one') %>
        </span>
      <% end %>
    </li>
    <li class="<%= ' bg-brand-palette-08 !border-brand-palette-07 rounded-md !text-brand-palette-03' if request.path.include?('contact') %> text-dark-gray-palette-p3 border-2 border-transparent hover:bg-brand-palette-08 hover:rounded-md group-aria-[expanded=false]:w-full group-aria-[expanded=false]:h-[40px]">
      <%= link_to(account_contacts_path(Current.account), class: 'group-aria-[expanded=false]:p-2.5 flex space-x-3 p-3 items-center') do %>
        <%= embedded_svg("contacts-icon.svg", class: "w-4 #{'!fill-brand-palette-03 ' if request.path.include?('contact') or request.path.include?('contact')} group-aria-[expanded=false]:mx-auto fill-dark-gray-palette-p3") %>
        <span class="group-aria-[expanded=false]:hidden inline-block ml-2 typography-text-m-lh150">
          <%= t('activerecord.models.contact.one') %>
        </span>
      <% end %>
    </li>
    <li class="<%= ' bg-brand-palette-08 !border-brand-palette-07 rounded-md !text-brand-palette-03' if request.path.include?('product') %> text-dark-gray-palette-p3 border-2 border-transparent hover:bg-brand-palette-08 hover:rounded-md group-aria-[expanded=false]:w-full group-aria-[expanded=false]:h-[40px]">
      <%= link_to(account_products_path(Current.account), class: 'group-aria-[expanded=false]:p-2 flex space-x-3 p-3 items-center') do %>
        <i data-lucide="box" class="w-[18px] h-[18px] <%= '!stroke-brand-palette-03 ' if request.path.include?('product') %> group-aria-[expanded=false]:mx-auto stroke-dark-gray-palette-p3" ></i>
        <span class="group-aria-[expanded=false]:hidden inline-block ml-2 typography-text-m-lh150">
          <%= t('activerecord.models.product.one') %>
        </span>
      <% end %>
    </li>
    <div class="h-[2px] w-full bg-light-palette-p3"></div>
    <li class="<%= 'bg-brand-palette-08 !border-brand-palette-07 rounded-md !text-brand-palette-03' if request.path.include?('settings') %> text-dark-gray-palette-p3 border-2 border-transparent icons-button-sidebar mt-auto  absolute bottom-4 right-3 left-3 hover:bg-brand-palette-08 hover:rounded-md">
      <%= link_to(account_settings_path(Current.account), class: 'icons-link-sidebar flex space-x-3 p-3 items-center') do %>
        <%= embedded_svg("company-icon.svg", class: "w-4 lg:m-0 flex #{'!fill-brand-palette-03 ' if request.path.include?('settings')} group-aria-[expanded=false]:mx-auto fill-dark-gray-palette-p3") %>
        <span class="group-aria-[expanded=false]:hidden inline-block ml-2 typography-text-m-lh150">
          <%= t('views.layouts.shared.sidebar.company') %>
        </span>
      <% end %>
    </li>
  </ul>
</div>
