<%= turbo_stream_from "qrcode_#{@evolution_api.id}_#{@evolution_api.account.id}" %>
<section class="m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md grid lg:grid-cols-[2fr_1fr] gap-10 p-5">
  <div class="space-y-10">
    <h1 class="typography-body-s-lh150 text-dark-gray-palette-p1">
      <%= t('views.accounts.apps.evolution_apis.pair_qr_code.scan_qr_code') %>
    </h1>
    <ol class="space-y-5 typography-body-r-lh150 text-dark-gray-palette-p3">
      <li>
        <%= t('views.accounts.apps.evolution_apis.pair_qr_code.step_one').html_safe %>
      </li>
      <li>
        <%= t('views.accounts.apps.evolution_apis.pair_qr_code.step_two').html_safe %>
      </li>
      <li>
        <%= t('views.accounts.apps.evolution_apis.pair_qr_code.step_three').html_safe %>
      </li>
      <li>
        <%= t('views.accounts.apps.evolution_apis.pair_qr_code.step_four').html_safe %>
      </li>
    </ol>
  </div>
  <%= render 'qrcode', evolution_api: @evolution_api %>
</section>
