<% unless params[:filter_status_deal].present?  || params[:filter_status_deal] == 'open'%>
  <%= turbo_stream_from stage, class:'hidden' %>
<% end %>
<%= turbo_frame_tag dom_id(stage) do %>
  <div class="px-4 pb-4 rounded border-2 border-light-palette-p3 bg-light-palette-p5 relative" data-controller="load-lucid-icons load-flowbite">
    <div class="flex py-3.5 justify-between items-center gap-1.5">
      <h1 class="typography-text-s-lh150 text-dark-gray-palette-p1 truncate cursor-default" data-tooltip-target="tooltip-<%= stage.id %>" data-tooltip-placement="bottom">
        <%=stage.name%>
      </h1>
      <div id="tooltip-<%= stage.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 typography-text-m-lh150 text-dark-gray-palette-p3 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip transition-opacity duration-300">
        <%= stage.name %>
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
      <button id="dropdownMenuIconHorizontalButton" data-dropdown-toggle="dropdownDotsHorizontal<%=stage.id%>" class="inline-flex mr-1 items-center p-0.5 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
        <i data-lucide="more-horizontal" class="text-gray-pallete-p3 w-5"></i>
      </button>
      <div class="p-0 w-6 rounded-tr-lg absolute border-t-2 border-r-2 border-light-palette-p3 left-[285px] bg-light-palette-p5 rotate-45">
        <i data-lucide="chevron-right" class="text-light-palette-p1 -rotate-45 w-5"></i>
      </div>
    </div>
    <!-- Dropdown menu -->
    <div id="dropdownDotsHorizontal<%=stage.id%>" class="z-10 hidden left-16 bg-white divide-y divide-gray-100 rounded-lg shadow w-48 dark:bg-gray-700">
      <ul class="py-2 typography-text-m-lh150 text-dark-gray-palette-p3  dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <%= link_to bulk_action_account_pipeline_path(Current.account, stage.pipeline.id, stage_id: stage.id), class: "flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-dark-gray-palette-p1 dark:hover:text-white", data: { turbo_frame: 'modal' } do %>
            <i data-lucide="layers"></i>
            <p>
              <%= t('views.accounts.pipelines.stage.bulk_action') %>
              <b class="typography-micro-b-lh150 text-dark-palette-p3 text-[6px]"> BETA </b>
            </p>
          </a>
        <% end %>
      </li>
      <li>
        <%= link_to account_pipeline_import_path(Current.account, stage.pipeline.id, stage_id: stage.id), class: "flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-dark-gray-palette-p1 dark:hover:text-white", data: {controller: 'change-request-to-turbo-stream', action: 'click->change-request-to-turbo-stream#changeHeader'} do%>
          <i data-lucide="file-input"></i>
          <p>
            <%= t('views.accounts.pipelines.stage.import_deals') %>
          </p>
        </a>
      <%end%>
    </li>
    <%# <li>
      <a href="#" class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-dark-gray-palette-p1 dark:hover:text-white" ><i data-lucide="file-output"></i>
        <p>Exportar negócios</p>
      </a>
    </li> %>
  </ul>
</div>
<ul data-controller="drag" data-drag-url="/accounts/:account_id/deals/:deal_id" data-id="<%= stage.id %>" class="space-y-4 overflow-y-auto custom-scroll-list-deal h-[calc(100vh-240px)]" id="deals">
  <% if status == 'all' %>
    <% stage.deals.sort_by(&:position).each do |deal| %>
      <%= render partial: 'accounts/pipelines/deal', locals: {deal: deal} %>
    <% end %>
  <% else %>
    <% stage.deals.where(status: status).sort_by(&:position).each do |deal| %>
      <%= render partial: 'accounts/pipelines/deal', locals: {deal: deal} %>
    <% end %>
  <% end %>
</ul>
</div>
<% end %>
