<section class="section">
  <div class="d-flex">
    <div class="ml-auto">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-pipelines" data-toggle="dropdown" aria-expanded="false"><%= @pipeline.name %></a>
        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-132px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
          <% @pipelines.each do | pipeline |  %>
            <%= link_to(pipeline.name, account_pipeline_path(current_user.account, pipeline), class: 'dropdown-item has-icon') %> 
          <% end %>
          <div class="dropdown-divider"></div>
            <%= link_to('New', new_account_pipeline_path(@pipeline), class: 'dropdown-item') %>
            <%= link_to('Edit', edit_account_pipeline_path(@pipeline), class: 'dropdown-item') %> 
        </div>
      </div>
    </div>
  </div>
  <div class="drag-container">
    <ul class="drag-list" name="drag-list" content="<%= @pipeline.stages.count %>">
      <% @pipeline.stages.each do | stage | %>
        <li class="drag-column drag-column-in-progress">
          <header>
            <span class="drag-column-header">

              <div class="dropdown show">
                <h2 class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= stage.name %>
                </h2>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to '#', class:"dropdown-item has-icon" do %>
                    <i class="fas fa-pencil-alt"></i> Editar
                  <% end %>
                  <%= link_to account_pipeline_bulk_action_path(current_user.account, stage.pipeline_id, stage_id: stage.id), class:"dropdown-item has-icon" do %>
                    <i class="fas fa-solid fa-layer-group"></i> Ação em massa
                  <% end %>
                  <%= link_to account_pipeline_import_path(current_user.account, stage.pipeline_id, stage_id: stage.id), class:"dropdown-item has-icon" do %>
                    <i class="fas fa-solid fa-file-import"></i> Importar negócios
                  <% end %>
                  <%= link_to account_pipeline_export_path(current_user.account, stage.pipeline_id, stage_id: stage.id), class:"dropdown-item has-icon" do %>
                    <i class="fas fa-file-download"></i> Exportar negócios
                  <% end %>

                  <div class="dropdown-divider"></div>
                  <%= link_to '#', class:"dropdown-item has-icon text-danger", :method => :delete do %>
                    <i class="fas fa-trash"></i> Deletar etapa
                  <% end %>
                </div>
              </div>

            </span>
          </header>
          <div>
            <ul data-controller="drag" data-drag-url="/accounts/<%= current_user.account.id %>/deals/:deal_id" data-id="<%= stage.id %>" class="drag-inner-list" id="<%= stage.order %>">
              <% stage.deals.open.each do | deal | %>
                <li class="drag-item">
                  <%= link_to account_deal_path(current_user.account, deal.id), id: dom_id(deal), data: {id: deal.id}, deal_id: deal.id, account_id:  current_user.account.id do %>

                    <header>
                      <label color="#7159c1"> </label>
                    </header>

                    <p class="deal-name"><%= deal.name %></p>
                    <% if deal.next_action? %>
                      <% if deal.next_action_overdue? %>
                        <p class="time-overdue"><%= "Next action #{deal.next_action_format}"%></p>
                      <% else %>
                        <p><%= "Next action #{deal.next_action_format}"%></p>
                      <% end %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="new-deal-btn">
    <%= button_to new_select_contact_account_deals_path(current_user.account), method: :get do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

<%= content_for :javascripts do %>

<% end %>