<%= form_for([current_user.account, product], html:{class: "flex flex-col gap-5 relative z-0 ", data: { controller: 'product-form--upload-files', action: "drop->product-form--upload-files#acceptFiles dragenter->product-form--upload-files#showDragAlert dragleave->product-form--upload-files#removeDragAlert", 'product-form--upload-files-accepted-types-value': '["text", "video", "image", "application"]' }}) do | form | %>
  <%= render '/accounts/products/drag_and_drop'%>
  <% if product.errors.any? %>
    <div>
      <ul>
        <% product.errors.each do |error| %>
          <li class="typography-body-s-lh150 text-auxiliary-palette-red"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1">
    <%= t('views.accounts.products.form.product_data') %>
  </h2>
  <div class= "grid 2xl:grid-cols-4 gap-4">
    <div class="flex flex-col gap-1 2xl:col-span-3">
      <%= form.label :name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.text_field :name, placeholder: "#{t('activerecord.models.product.one')} x", class: 'form-input' %>
    </div>
    <div class="flex flex-col gap-1 2xl:col-span-1">
      <%= form.label :identifier, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.text_field :identifier, placeholder: "F3158R658G8953", class: 'form-input' %>
    </div>
  </div>
  <div class= "grid 2xl:grid-cols-2 gap-4">
    <div class="flex flex-col gap-1">
      <%= form.label :amount_in_cents, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.text_field :amount_in_cents, placeholder: "50,78", class: 'form-input', data: {controller: "input-mask--input-amount-in-cents"}  %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :quantity_available, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.number_field :quantity_available, placeholder: "10", class: 'form-input', min: 0 %>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <%= form.label :description, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
    <%= form.text_area :description, placeholder: "#{t('activerecord.models.product.one')} ...", rows: 5 , class: 'form-input !border-light-palette-p3'%>
  </div>
  <%= render 'accounts/products/attachments' %>
  <% if product.image_attachments.present? %>
    <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1 ">
      <%= t('views.accounts.products.form.images_attached') %>
    </h2>
    <div class='flex items-end gap-4 flex-wrap'>
      <% product.image_attachments.each do |attachment| %>
        <%= turbo_frame_tag attachment do %>
          <div class='grid border-2 rounded-md w-[250px] relative'>
            <div class=' w-full h-[150px] ' data-controller='lightbox'>
              <%= image_tag attachment.file, class: 'cursor-pointer object-cover w-full h-full rounded-t-md' , data: { src: rails_blob_url(attachment.file), sub_html: attachment.file.filename.to_s } %>
            </div>
            <%= link_to account_attachment_path(Current.account, attachment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'flex items-center h-7 w-7 p-1 text-dark-gray-palette-p3 bg-light-palette-p5 rounded-full border-[1px] border-brand-palette-07 hover:border-brand-palette-06 hover:border-[1px] hover:bg-brand-palette-08 hover:rounded-full hover:text-brand-palette-03 transtion ease-in-out delay-250 absolute top-1 right-1' do %>
              <i data-lucide="trash-2" height="14"></i>
            <% end %>
            <div class='bg-brand-palette-08 p-1.5 grid gap-0.5 rounded-b-md'>
              <p class='typography-sub-text-s-lh150 text-dark-gray-palette-p1 truncate max-w-[180px]'><%= attachment.file.filename.to_s %></p>
              <div class='flex justify-between items-center'>
                <p class='typography-micro-m-lh150 text-dark-gray-palette-p4'><%= number_to_human_size(attachment.file.byte_size) %></p>
                <%= link_to  rails_blob_path(attachment.file), class: 'flex items-center h-7 w-7 p-1 text-dark-gray-palette-p3 border-[1.5px] border-[#e5e7eb00] hover:border-brand-palette-06 hover:border-[1.5px] hover:bg-brand-palette-08 hover:rounded-md hover:text-brand-palette-03 transtion ease-in-out delay-250' do %>
                  <i data-lucide="download" height="15"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if product.video_attachments.present? %>
    <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1 ">
      <%= t('views.accounts.products.form.videos_attached') %>
    </h2>
    <div class='flex items-end gap-4 flex-wrap'>
      <% product.video_attachments.each do |attachment| %>
        <%= turbo_frame_tag attachment do %>
          <div class='grid border-2 rounded-md w-[250px] relative'>
            <div class=' w-full max-h-[250px] '>
              <%= video_tag rails_blob_url(attachment.file), size:'250x250', controls: true, class: 'rounded-t-md object-scale-down w-full max-h-[250px]' %>
            </div>
            <%= link_to account_attachment_path(Current.account, attachment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'flex items-center h-7 w-7 p-1 text-dark-gray-palette-p3 bg-light-palette-p5 rounded-full border-[1px] border-brand-palette-07 hover:border-brand-palette-06 hover:border-[1px] hover:bg-brand-palette-08 hover:rounded-full hover:text-brand-palette-03 transtion ease-in-out delay-250 absolute top-1 right-1' do %>
              <i data-lucide="trash-2" height="14"></i>
            <% end %>
            <div class='bg-brand-palette-08 p-1.5 grid gap-0.5 rounded-b-md'>
              <p class='typography-sub-text-s-lh150 text-dark-gray-palette-p1 truncate max-w-[180px]'><%= attachment.file.filename.to_s %></p>
              <div class='flex justify-between items-center'>
                <p class='typography-micro-m-lh150 text-dark-gray-palette-p4'><%= number_to_human_size(attachment.file.byte_size) %></p>
                <%= link_to  rails_blob_path(attachment.file), class: 'flex items-center h-7 w-7 p-1 text-dark-gray-palette-p3 border-[1.5px] border-[#e5e7eb00] hover:border-brand-palette-06 hover:border-[1.5px] hover:bg-brand-palette-08 hover:rounded-md hover:text-brand-palette-03 transtion ease-in-out delay-250' do %>
                  <i data-lucide="download" height="15"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if product.file_attachments.present? %>
    <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1 ">
      <%= t('views.accounts.products.form.files_attached') %>
    </h2>
    <div class='flex items-end gap-4 flex-wrap'>
      <% product.file_attachments.each do |attachment| %>
        <%= turbo_frame_tag attachment do %>
          <div class='grid border-2 rounded-md w-[200px]'>
            <div class='flex items-center h-[100px] relative'>
              <i data-lucide="file" style="width: 50px; height: 50px" class=" stroke-dark-gray-palette-p3 m-auto"></i>
              <%= link_to account_attachment_path(Current.account, attachment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'flex items-center h-7 w-7 p-1 text-dark-gray-palette-p3 border-[1.5px] border-[#e5e7eb00] hover:border-brand-palette-06 hover:border-[1.5px] hover:bg-brand-palette-08 hover:rounded-full hover:text-brand-palette-03 transtion ease-in-out delay-250 absolute top-1 right-1' do %>
                <i data-lucide="trash-2" height="14"></i>
              <% end %>
            </div>
            <div class='bg-brand-palette-08 p-1.5 grid gap-0.5 rounded-b-md'>
              <p class='typography-sub-text-s-lh150 text-dark-gray-palette-p1 truncate max-w-[180px]'><%= attachment.file.filename.to_s %></p>
              <div class='flex justify-between items-center'>
                <p class='typography-micro-m-lh150 text-dark-gray-palette-p4'><%= number_to_human_size(attachment.file.byte_size) %></p>
                <%= link_to  rails_blob_path(attachment.file), class: 'flex items-center h-7 w-7 p-1 text-dark-gray-palette-p3 border-[1.5px] border-[#e5e7eb00] hover:border-brand-palette-06 hover:border-[1.5px] hover:bg-brand-palette-08 hover:rounded-md hover:text-brand-palette-03 transtion ease-in-out delay-250' do %>
                  <i data-lucide="download" height="15"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= render 'accounts/custom_attributes', m: product, f: form %>
  <div class="flex gap-2 self-end">
    <%= link_to account_custom_attributes_definitions_path(current_user.account), class:"btn-secondary flex items-center gap-2", data: {turbo_frame: :_top} do %>
      <i data-lucide="plus"></i>
      <%= t('activerecord.models.custom_attribute_definition.add') %>
    <% end %>
    <%= form.submit class: 'btn-primary cursor-pointer' %>
  </div>
<% end %>
