<%= form_for([current_user.account, product], html:{class: "flex flex-col gap-5"}) do | form | %>
  <% if product.errors.any? %>
    <div>
      <ul>
        <% product.errors.each do |error| %>
          <li class="typography-body-s-lh150 text-auxiliary-palette-red"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1">
    <%= t('views.accounts.products.form.product_data') %>
  </h2>
  <div class= "grid 2xl:grid-cols-4 gap-4">
    <div class="flex flex-col gap-1 2xl:col-span-3">
      <%= form.label :name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.text_field :name, placeholder: "#{t('activerecord.models.product.one')} x", class: 'form-input' %>
    </div>
    <div class="flex flex-col gap-1 2xl:col-span-1">
      <%= form.label :identifier, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.text_field :identifier, placeholder: "F3158R658G8953", class: 'form-input' %>
    </div>
  </div>
  <div class= "grid 2xl:grid-cols-2 gap-4">
    <div class="flex flex-col gap-1">
      <%= form.label :amount_in_cents, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.text_field :amount_in_cents, placeholder: "50,78", class: 'form-input', data: {controller: "input-mask--input-amount-in-cents"}  %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :quantity_available, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.number_field :quantity_available, placeholder: "10", class: 'form-input', min: 0 %>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <%= form.label :description, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
    <%= form.text_area :description, placeholder: "#{t('activerecord.models.product.one')} ...", rows: 5 , class: 'form-input !border-light-palette-p3'%>
  </div>
  <div class="h-0.5 w-full bg-light-palette-p3"></div>
  <div>
    <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1 mb-5">
      <%= t('views.accounts.products.form.image') %>
    </h2>
    <div class='flex items-end gap-4 flex-wrap'>
      <%= form.fields_for :attachments do |attachment_form| %>
        <%= render 'attachment_fields', :f => attachment_form %>
      <% end %>
      <div class='grid gap-5'>
        <%= link_to_add_association t('views.accounts.products.form.add_images'), form, :attachments, class: "btn-secondary place-self-start "%>
      </div>
    </div>
  </div>
  <div class="h-0.5 w-full bg-light-palette-p3"></div>
  <%= render 'accounts/custom_attributes', m: product, f: form %>
  <div class="flex gap-2 self-end">
    <%= link_to account_custom_attributes_definitions_path(current_user.account), class:"btn-secondary flex items-center gap-2", data: {turbo_frame: :_top} do %>
      <i data-lucide="plus"></i>
      <%= t('activerecord.models.custom_attribute_definition.add') %>
    <% end %>
    <%= form.submit class: 'btn-primary cursor-pointer' %>
  </div>
<% end %>
