<li class="flex items-center gap-8 border-b-2 border-light-palette-p3 last:border-none py-2.5 first:pt-0 last:pb-0" id="<%= dom_id(product) %>" data-controller='load-lucid-icons load-flowbite'>
  <div class='w-[200px] h-28 pl-4 flex'>
    <div class='w-28 h-28'>
      <%= render '/components/products/images_carousel_list', product: product %>
    </div>
  </div>
  <p class='w-[32%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.name %></p>
  <p class='w-[14%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.amount_in_cents_at_format
 %></p>
  <p class='w-[14%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.quantity_available %></p>
  <p class='w-[19%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.identifier %></p>
  <p class='w-[20%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= l(product.created_at, format: :long) %></p>
  <div class='w-[9%] pr-4 flex justify-end'>
    <button id="dropdownuserBtn" data-dropdown-toggle="dropdownuserOptions<%= product.id %>" data-dropdown-placement="bottom" class="inline-flex  items-center p-2 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
      <i data-lucide="more-vertical" class=" stroke-dark-gray-palette-p3"></i>
    </button>
    <div id="dropdownuserOptions<%= product.id %>" class="z-10 hidden left-16 bg-white divide-y divide-gray-100 rounded-lg shadow w-48 dark:bg-gray-700 z-50">
      <ul class="py-2 typography-text-m-lh150 text-dark-gray-palette-p3  dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <%= link_to edit_account_product_path(product.account, product), class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white ' do %>
            <i data-lucide="pencil"></i>
            <p>
              <%= t('views.accounts.products.product.edit') %>
            </p>
          <% end %>
        </li>
        <li>
          <%= link_to account_product_path(product.account, product), method: :delete, class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white', data: { confirm: t('views.accounts.products.product.are_you_sure?') } do %>
            <i data-lucide="trash"></i>
            <p>
              <%= t('views.accounts.products.product.delete') %>
            </p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</li>
