<li class="flex items-center gap-2.5 border-b-2 border-light-palette-p3 last:border-none py-2.5 first:pt-0 last:pb-0" id="<%= dom_id(product) %>" data-controller='load-lucid-icons load-flowbite'>
  <div class='w-[10%] pl-4 flex'>
    <% if product.attachment.present? %>
      Fotos
    <% else %>
      <div class="border-2 bg-brand-palette-08 rounded-md">
        <i data-lucide="image" class='w-[50px] h-[50px] lg:w-[65px] lg:h-[65px] p-4 stroke-dark-gray-palette-p3'></i>
      </div>
    <% end %>
  </div>
  <p class='w-[29%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.name %></p>
  <p class='w-[11%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= number_to_currency(product.amount_in_cents / 100.0, unit: "R$", separator: ",", delimiter: ".")
 %></p>
  <p class='w-[11%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.quantity_available %></p>
  <p class='w-[16%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.identifier %></p>
  <p class='w-[17%] typography-body-r-lh150 text-dark-gray-palette-p2 truncate'><%= product.created_at %></p>
  <div class='w-[6%] pr-4 flex justify-end'>
    <button id="dropdownuserBtn" data-dropdown-toggle="dropdownuserOptions<%= product.id %>" data-dropdown-placement="bottom" class="inline-flex  items-center p-2 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
      <i data-lucide="more-vertical" class=" stroke-dark-gray-palette-p3"></i>
    </button>
    <div id="dropdownuserOptions<%= product.id %>" class="z-10 hidden left-16 bg-white divide-y divide-gray-100 rounded-lg shadow w-48 dark:bg-gray-700 z-50">
      <ul class="py-2 typography-text-m-lh150 text-dark-gray-palette-p3  dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <%= link_to edit_account_product_path(product.account, product), class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white ' do %>
            <i data-lucide="pencil"></i>
            <p>Editar</p>
          <% end %>
        </li>
        <li>
          <%= link_to account_product_path(product.account, product), method: :delete, class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white', data: { confirm: 'Are you sure?' } do %>
            <i data-lucide="trash"></i>
            <p>Excluir</p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</li>
