<%= turbo_frame_tag [:form_custom_attributes, dom_id(@product)] do %>
  <%= form_with(
    model: @product,
    url: update_custom_attributes_account_product_path(current_user.account, @product),
    data: { turbo_frame: dom_id(@product)}
    ) do |form| %>
    <div class="h-full w-full" data-controller="custom-attributes-add">
      <%= form.select :att_key, @custom_attribute_definitions.collect { |att| [att.attribute_display_name, att.attribute_key] }, { prompt: t('views.accounts.products.edit_custom_attributes.search'), selected: '', disabled: ''}, { class: 'w-full first:my-0 my-3 form-input select2',  data: { 'custom-attributes-add-target': "select", action: 'change->custom-attributes-add#changed'} } %>
      <div data-custom-attributes-add-target="formFields" hidden="">
        <%= form.text_field :att_value, class: 'w-full mt-3 form-input', placeholder: t('views.accounts.products.edit_custom_attributes.field_content') %>
        <div class="flex-auto rounded-md my-3 border-t border-light-palette-p3"></div>
        <%= form.submit t('views.accounts.products.edit_custom_attributes.confirm'), class: 'w-full btn-primary cursor-pointer' %>
      </div>
    </div>
  <% end %>
<% end %>
