<%= turbo_stream_from [current_user.account.id, :product] %>
<section class="m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md ">
  <div class='pb-5 w-full lg:w-auto overflow-y-auto'>
    <div class='w-full grid gap-2.5'>
      <div class='flex py-4 gap-8 border-b-2 border-light-palette-p3'>
        <p class='w-[200px] typography-body-s-lh150 text-dark-gray-palette-p1 truncate pl-4'>
          <%= t('views.accounts.products.index.images') %>
        </p>
        <p class='w-[32%] typography-body-s-lh150 text-dark-gray-palette-p1 truncate'>
          <%= t('views.accounts.products.index.product_name') %>
        </p>
        <p class='w-[14%] typography-body-s-lh150 text-dark-gray-palette-p1 truncate'>
          <%= t('views.accounts.products.index.amount') %>
        </p>
        <p class='w-[14%] typography-body-s-lh150 text-dark-gray-palette-p1 truncate'>
          <%= t('views.accounts.products.index.quantity') %>
        </p>
        <p class='w-[19%] typography-body-s-lh150 text-dark-gray-palette-p1 truncate'>
          <%= t('views.accounts.products.index.identifier') %>
        </p>
        <p class='w-[20%] typography-body-s-lh150 text-dark-gray-palette-p1 truncate'>
          <%= t('views.accounts.products.index.created_at') %>
        </p>
        <div class='w-[9%] pr-4'></div>
      </div>
      <ul class='w-full grid' id="products" >
        <%= render partial: '/accounts/products/product', collection: @products, as: :product %>
      </ul>
    </div>
  </div>
  <div class="float-right py-6">
    <%== pagy_nav(@pagy) %>
  </div>
</section>
