<div>
  <header class="flex justify-between items-center p-4 bg-light-palette-p5 border-2 rounded-t-md border-light-palette-p3  text-dark-gray-palette-p3">
    <h4 class="typography-body-s-lh150">
      <%= t('activerecord.models.deal.other') %>
    </h4>
    <%= link_to new_account_deal_path(current_user.account, deal:{ contact_id: contact.id}), class: 'btn-secondary' do %>
      <%= t('activerecord.models.deal.new') %>
    <% end %>
  </header>
  <ul>
    <% contact.deals.each do | deal |  %>
      <li class="grid grid-cols-[1fr_40px] gap-4 p-4 border-x-2 border-b-2 border-light-palette-p3 odd:bg-light-palette-p4 even:bg-light-palette-p5">
        <div class="">
          <h5 class="typography-text-m-lh150 text-dark-gray-palette-p1 mb-1"><%= deal.name %></h5>
          <div class="flex gap-4 items-center mb-4">
            <p class="typography-sub-text-m-lh150 text-dark-gray-palette-p3">Etapa</p>
            <!-- <div class="flex items-center space-x-1 py-1 p-1 border-2 rounded-lg bg-auxiliary-palette-green-down-2 border-auxiliary-palette-green-down text-auxiliary-palette-green"> -->
            <%= render 'accounts/pipelines/deal_event', event: deal.next_event_planned if deal.next_event_planned? %>
          </div>
          <%= render 'components/deals/stages_nav', deal: deal  %>
        </div>
        <%= link_to(account_deal_path(deal.account, deal.id), class: "arrow-btn flex items-center p-2 border-2 rounded-md border-light-palette-p3 odd:bg-light-palette-p4 even:bg-light-palette-p5 hover:odd:bg-light-palette-p5 hover:even:bg-light-palette-p4 self-start cursor-pointer") do %>
          <i data-lucide="arrow-up-right" class="w-6 h-6 stroke-dark-gray-palette-p3"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%# <div class="flex justify-center border-b-2 border-x-2 border-light-palette-p3 rounded-b-md bg-light-palette-p5 py-3 cursor-pointer hover:bg-light-palette-p4">
    <p class="typography-sub-text-m-lh150 text-dark-gray-palette-p3">ver mais</p>
  </div> %>
</div>
