<%= form_with(model: contact, url: account_chatwoot_embed_index_path(current_user.account), data: {turbo: false}, id: 'formId') do |form| %>
  <%= form.hidden_field :full_name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :phone %>
  <%= hidden_field_tag 'contact[additional_attributes][chatwoot_id]', contact.additional_attributes['chatwoot_id'] %>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="px-4 py-5 rounded-md border-2 border-light-palette-p3 flex justify-between bg-light-palette-p5 text-dark-gray-palette-p1 items-center">
    <p class="typography-body-s-lh150">
      <%= t('views.accounts.contacts.chatwoot_embeded.form.contact_not_found', crm_name: 'Woofed CRM') %>
    </p>
    <div class="flex gap-4">
      <a class="p-1 cursor-pointer rounded-md hover:bg-light-palette-p3">
        <i data-lucide="x" class="stroke-auxiliary-palette-red"></i>
      </a>
      <%= form.button nil, class:"p-1 cursor-pointer rounded-md hover:bg-light-palette-p3" do %>
        <i data-lucide="check" class="stroke-auxiliary-palette-green"></i>
      <% end %>
    </div>
  </div>
<% end %>
