<%= stylesheet_link_tag 'stages_nav', media: 'all' %>
<nav aria-label="breadcrumb" id='stages_nav' data-controller='load-flowbite' class="stage-bar">
  <div class="flex space-x-1">
    <% deal.stage.pipeline.stages.order(:position).each_with_index do | stage, index | %>
      <% if stage == deal.stage or deal.stage.position > stage.position %>
        <%= link_to account_deal_path(deal.account, deal, deal: { status: deal.status, stage_id: stage.id } ), method: :patch, data: { confirm: t('views.accounts.deals.stages_nav_desktop.are_you_sure?'), tooltip_target:"tooltip-default-#{stage.id}-#{stage.name}", data_tooltip_placement:"bottom" }, class: "first:rounded-l-lg last:rounded-r-lg justify-center flex flex-1 bg-auxiliary-palette-green hover:bg-auxiliary-palette-green-down group relative before:absolute #{ index == deal.stage.pipeline.stages.length - 1 ? '' : "before:top-0 before:z-10 before:right-[-6px] before:border-solid before:border-l-auxiliary-palette-green before:hover:border-l-auxiliary-palette-green-down before:border-l-[6px] before:border-y-transparent before:border-y-[6px] after:absolute after:top-0  after:border-solid after:border-y-transparent after:border-y-[6px]  inline-block after:border-l-light-palette-p5 after:border-l-[6px] after:right-[-10px] " }", style:"z-index: #{30 - index} ", aria_current:"page"  do %>
          <p class="h-3 ">
            &nbsp
          </p>
        <% end %>
      <% else %>
        <%= link_to account_deal_path(deal.account, deal, deal: { status: deal.status, stage_id: stage.id } ), method: :patch, data: { confirm: t('views.accounts.deals.stages_nav_desktop.are_you_sure?'), tooltip_target:"tooltip-default-#{stage.id}-#{stage.name}", data_tooltip_placement:"bottom" }, class: "flex flex-1 bg-gray-100 relative hover:bg-gray-200 first:rounded-l-lg last:rounded-r-lg justify-center before:absolute #{ index == deal.stage.pipeline.stages.length - 1 ? '' : "before:top-0 before:z-10 before:right-[-6px] before:border-solid before:border-l-gray-100 before:hover:border-l-gray-200 before:border-l-[6px] before:border-y-transparent before:border-y-[6px] after:absolute after:top-0  after:border-solid after:border-y-transparent after:border-y-[6px]  inline-block  after:absolute after:top-0  after:border-solid after:border-l-light-palette-p5 after:border-l-[6px] after:right-[-10px]" } ",  style:"z-index: #{30 - index } "  do %>
          <p class="h-3">
            &nbsp
          </p>
        <% end %>
      <% end %>
      <div id="tooltip-default-<%= stage.id %>-<%= stage.name %>" role="tooltip" class="absolute z-50 invisible inline-block px-3 py-2 typography-text-m-lh150 text-dark-gray-palette-p3 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip transition-opacity duration-300">
        <%= stage.name %>
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    <% end %>
  </ol>
</nav>
