<%= form_with(model: pipeline) do |form| %>
  <% if pipeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipeline.errors.count, "error") %> prohibited this pipeline from being saved:</h2>

      <ul>
        <% pipeline.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <h3>Stages</h3>
  <div id='stages'>    
    <%= form.fields_for :stages do |stage| %>
      <%= render 'stage_fields', :f => stage %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'New stage', form, :stages %>
    </div>
  </div>


  <div class="card-footer text-right">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
