<section class="section">
  <div class="section-header">
    <h1>Deals</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="drag-container">
          <ul class="drag-list" name="drag-list" content="<%= @pipeline.stages.count %>">
            <% @pipeline.stages.each do | stage | %>
              <li class="drag-column drag-column-in-progress">
                <span class="drag-column-header">
                  <h2><%= stage.name %></h2>
                </span>
                <div class="drag-options" id="options2"></div>
                <ul class="drag-inner-list" id="<%= stage.order %>">
                  <% stage.deals.each do | deal | %>
                    <%= link_to deal_path(deal.id) do %>
                      <li class="drag-item">
                        <p class="deal-name"><%= deal.name %></p>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'kanban' %>
<% end %>