<div class="group my-5 flex justify-center" data-controller="load-lucid-icons load-flowbite">
  <div class="px-4 py-1 max-w-[956px] bg-brand-palette-08 rounded-full border-[1.5px] border-brand-palette-07 flex gap-3.5 items-center">
    <p class='typography-text-m-lh200 text-dark-gray-palette-p1 max-w-[900px] truncate'>
      <% if event.deal_stage_change? %>
        <%= t('views.accounts.contacts.events.event_deal_updated.deal_stage_change',
        old_stage_name: event.additional_attributes.fetch('old_stage_name', ''),
        old_stage_pipeline_name: event.additional_attributes.fetch('old_stage_pipeline_name', ''),
        new_stage_name: event.additional_attributes.fetch('new_stage_name', ''),
        new_stage_pipeline_name: event.additional_attributes.fetch('new_stage_pipeline_name', '')
        ) %>
      <% elsif event.deal_opened?%>
        <%= t('views.accounts.contacts.events.event_deal_updated.deal_opened') %>
      <% elsif event.deal_won? %>
        <%= t('views.accounts.contacts.events.event_deal_updated.deal_won') %>
      <% elsif event.deal_lost? %>
        <%= t('views.accounts.contacts.events.event_deal_updated.deal_lost') %>
      <% else %>
        <%= t('views.accounts.contacts.events.event_deal_updated.deal_reopened') %>
      <% end %>
    </p>
    <span class="typography-sub-text-m-lh150 text-dark-gray-palette-p4 truncate"><%= event.created_at.strftime("%d/%m às %H:%M") %></span>
  </div>
</div>
