<%= turbo_frame_tag event do %>
  <div class="group event-<%= event.scheduled_kind %> event-item-<%= event.from %>">
    <div class="w-3/4 block rounded-lg bg-white border border-light-palette-p3 rounded dark:bg-neutral-700">
      <div class="border-b-2 border-neutral-100 bg-light-palette-p4 px-3 py-2 flex items-center">
        <% if event.done != nil %>
          <%= form_with(model: event, url: account_contact_event_path(event.account, event.contact, event, deal_id: event&.deal&.id), data: { turbo_frame: "events_#{event.contact.id}" }) do |form| %>
            <div class="mr-3 group-[.event-item-from-contacts]:hidden">
              <%= form.check_box :done, class: 'w-7 h-7 text-brand-palette-03 rounded-full border-light-palette-p2 focus:ring-transparent', onclick: 'this.form.querySelector(".check-submit").click()' %>
              <%= form.submit class: 'check-submit', hidden: true %>
            </div>
  
            <div class="flex items-center rounded-full border-light-palette-p3 border h-8 w-8 mr-3 bg-light-palette-p5 group-[.event-item-from-me]:hidden">
              <i class="m-auto text-auxiliary-palette-blue" data-lucide="user" height="20"></i>
            </div>

          <% end %>
        <% end %>
        <div class="flex-grow py-1">
          <span class="m-0 text-dark-gray-palette-p1 typography-text-s-lh150 flex items-center">
            <%= Event.human_attribute_name(event.kind) %>
            <i class="<%= event.icon_key %> mx-2" height="14"></i>
          </span>
          <% if event.due.present? %>
            <span class="m-0 text-brand-palette-04 group-[.event-scheduled]:font-semibold group-[.event-item-from-contacts]:text-dark-gray-palette-p4">Prazo: <%= event.primary_date %></span>
          <% else %>
            <p class="m-0 typography-subtext-m-lh150 text-dark-gray-palette-p4"><%= event.primary_date %></p>
          <% end %>
        </div>
        <div class="mb-auto">
          <button id="dropdownMenuIconHorizontalButton" data-dropdown-toggle="dropdownMenuActions" class="inline-flex mr-1 items-center p-1 text-sm font-medium text-center text-gray-900 bg-transparent rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
            <i data-lucide="more-horizontal" class="text-gray-pallete-p3"></i>
          </button>
        </div>
      </div>
        <!-- Dropdown menu -->
        <div id="dropdownMenuActions" class="z-10 hidden w-48 left-16  bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 typography-text-m-lh150 text-dark-gray-palette-p3  dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="#" class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white"><i data-lucide="layers"></i> <p>Desenvolvimento</p></a>
            </li>
            <li>
              <a href="#" class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-dark-gray-palette-p1 dark:hover:text-white"> <i data-lucide="file-input"></i> <p>Desenvolvimento</p></a>
            </li>
            <li>
              <a href="#" class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-dark-gray-palette-p1 dark:hover:text-white" ><i data-lucide="file-output"></i>
                <p>Desenvolvimento</p></a>
            </li>
          </ul>
        </div>
      <div class="p-6">
        <p class="m-0 typography-text-m-lh200 text-dark-gray-palette-p3">
          <%= event.content %>
        </p>
      </div>
    </div>
  </div>
<% end %>
