<%= turbo_stream_from @deal.contact_id, 'events' %>


  <div class="col-12">


    <%
=begin%>
 <div>
      <header class="text-center m-3">
        <span class="badge badge-light">Planned</span>
      </header>
      <div class="activities">
        <% events.planned.each do | event | %>
          <%= render "/accounts/contacts/events/event", event: event %>
        <% end %>
      </div>
    </div> 
<%
=end%>

    <div>
      <header class="text-center m-3">
        <span class="badge badge-light">Done</span>
      </header>

      <%= turbo_frame_tag 'events', class: 'activities' do %>
        <%= render partial: 'accounts/contacts/events/event', collection: events %>
      <% end %>

    </div>
  </div>

  <div class="row float-right p-3">
    <div class="col-12 mr-5">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
