<%= turbo_frame_tag "events_#{deal.contact.id}" do %>
  <%= turbo_stream_from deal.contact.id, 'events' %>
  <div class="mb-5 bg-light-palette-p5 border-2 border-neutral-150 border-light-palette-p3 rounded ">
    <div class="border-b-2 border-neutral-100 h-16 flex items-center p-3">
      <p class="my-auto text-dark-gray-palette-p1 typography-body-s-lh150">
        <%= t('views.accounts.contacts.events.status_labels.history') %>
      </p>
    </div>
    <div class="p-3">
      <div class="border-b pb-6">
        <div class="my-2">
          <span class="text-brand-palette-03 background-transparent typography-text-s-lh150 flex items-center">
            <i data-lucide="calendar" height="18" class="mr-2"></i>
            <%= t('views.accounts.contacts.events.status_labels.scheduled') %>
          </span>
        </div>
        <div class='max-h-[630px] overflow-y-auto scroll-smooth custom-scroll-list-deal'>
          <%= turbo_frame_tag "events_to_do_#{deal.contact.id}", src: events_to_do_account_deal_path(current_user.account, deal), loading: :lazy do  %>
            <%= render '/components/skeleton/event_card', from_me: true, done: false %>
            <%= render '/components/skeleton/event_card', from_me: true, done: false %>
          <% end %>
        </div>
      </div>
      <div class="">
        <div>
          <span class="pt-4 pb-0 text-auxiliary-palette-green background-transparent typography-text-s-lh150 flex items-center">
            <i data-lucide="check-circle-2" height="18" class="mr-2"></i>
            <%= t('views.accounts.contacts.events.status_labels.completed') %>
          </span>
        </div>
        <%= turbo_frame_tag "events_done_#{deal.contact.id}", src: events_done_account_deal_path(current_user.account, deal), loading: :lazy do  %>
          <%= render '/components/skeleton/event_card', from_me: true, done: true %>
          <%= render '/components/skeleton/event_card', from_me: false, done: true %>
          <%= render '/components/skeleton/event_card', from_me: true, done: true %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<!-- Frontend -->
<%

=begin%>
<div class="flex my-3">
  <div class="block rounded-lg bg-white border border-light-palette-p3 rounded dark:bg-neutral-700">
    <div class="border-b-2 border-neutral-100 bg-light-palette-p4 px-3 py-2 flex items-center">
      <div class="mr-3">
        <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 rounded">
      </div>
      <div class="flex-grow">
        <p class="m-0 text-dark-gray-palette-p1">Nome da atividade</p>
        <p class="m-0 text-brand-palette-04">Prazo: 30/06 às 16:00</p>
      </div>
      <div class="mb-auto">
        <a>
          <i data-lucide="more-horizontal" height="20"></i>
        </a>
      </div>
    </div>
    <div class="p-6">
      <p class="m-0">Vel pulvinar est sem dictum elit amet sed iaculis. Gravida sit nulla pellentesque eget interdum</p>
    </div>
  </div>
</div>
<div class="my-4 flex items-center justify-center">
  <span class="p-2 px-3 font-semibold inline-block py-1 px-2 rounded-full bg-brand-palette-08 last:mr-0 mr-1">
    O negócio foi movido da etapa proposta enviada para a a etapa reuni...
  </span>
</div>
<%
=end

%>
