<%= turbo_frame_tag event do %>

  <div class="chat-item <%= event.from_me == true ? 'chat-right' : 'chat-left' %>" style="">
    <i class="<%= event.icon_key %>"></i>
    <div class="chat-details">
      <% if event.kind == 'note' %>
        <div class="chat-text chat-note"><%= event.content %></div>
      <% elsif event.kind == 'wpp_connect_message' %>
        <% if event.done == true %>
          <div class="chat-text chat-wpp"><%= event.content %></div>
        <% else %>
          <div class="chat-text"><%= event.content %></div>
        <% end %>
      <% end %>
      <div class="chat-time">
        <% if event.done == true %>
          <span><%= event.due_format %></span>
        <% elsif event.done == false && event.done == nil  %>
          <% if event.overdue? %>
            <span class="time-overdue">Atividade agendada para <%= event.due_format %></span>
          <% else %>
            <span>Atividade agendada para <%= event.due_format %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>