<%= turbo_frame_tag "kind_content" do %>
  <%= form_with(model: event, url: account_contact_events_path(current_user.account ,contact_id: @contact.id, deal_id: @deal.id), data: { controller: "form-navigate", remote: true }) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
          <% event.errors.each do |error| %>
            <li><%= event.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


      <%= form.hidden_field :deal_id %>
    

      <div class="form-group">
        <label>Tipo</label>
        <%= form.select(:kind, [ ['Notas', 'note'], ['Whatsapp', 'wpp_connect_message'], ['Atividade', 'activity']], {}, { :class => 'form-control', data: { action: 'change->form-navigate#to', url: new_account_contact_event_path(current_user.account ,contact_id: @contact.id, deal_id: @deal.id) }} ) %>
      </div>


  

      <% if event.kind == 'note' %>
        <%= render "accounts/contacts/events/form/note", form:form, event: event %>
      <% elsif event.kind == 'wpp_connect_message' %>
        <%= render "accounts/contacts/events/form/wpp_connect_message", form:form, event: event %>
      <% elsif event.kind == 'activity' %>
        <%= render "accounts/contacts/events/form/activity", form:form, event: event %>
      <% end %>


    <div class="card-footer text-right">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>