<%= turbo_frame_tag @event do %>
  <div class="group event-<%= @event.scheduled_kind %> event-item-<%= @event.from %> my-2">
    <div class="w-3/4 block rounded-lg bg-white border border-light-palette-p3 rounded dark:bg-neutral-700">
      <div class="border-b-2 border-neutral-100 bg-light-palette-p4 px-6 py-4 flex items-center">
        <h1 class="typography-body-s-lh150 text-dark-gray-palette-p1">Editar <%=  @event.title %></h1>
      </div>
      <%= render "components/events/form/#{@event.kind}", event: @event, url: account_contact_event_path(current_user.account, contact_id: @event.contact.id, deal_id: @event.deal_id) %>
    </div>
  </div>
<%end%>
