<div class='max-w-lg self-start'>
  <%= render 'header_nav' %>
  <p class='text-dark-palette-p4 typography-body-r-lh150 mb-6'>
    Você ainda não possui cadastro na Woofed mas não se preocupe você dar continuedade seu cadastro.
  </p>
  <%= form_with(model: current_user, url: step_3_account_installations_path, method: :get, local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: current_user %>
    <div class="grid gap-5">
      <div class="grid gap-1">
        <%= f.label :company_name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.text_field :company_name, autofocus: true, autocomplete: "Company Name", class: "form-input h-9", required: true %>
      </div>
      <div class="grid gap-1">
        <%= f.label :company_site, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.text_field :company_site, autofocus: true, autocomplete: "Company Site", class: "form-input h-9", required: true %>
      </div>
      <div class="grid gap-1">
        <%= f.label :company_segment, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.select :segment, options_for_select([
      ['Tecnologia', 'technology'],
      ['Saúde', 'health'],
      ['Financeiro', 'finance'],
      ['Educação', 'education'],
      ['Varejo', 'retail'],
      ['Serviços', 'services']
    ]), {}, { class: "form-input h-9" } %>
      </div>
      <div class="grid gap-1">
        <%= f.label :company_size, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.select :company_size, options_for_select([
      ['1-10 Funcionários', '1-10'],
      ['11-50 Funcionários', '11-50'],
      ['51-200 Funcionários', '51-200'],
      ['201-500 Funcionários', '201-500'],
      ['501+ Funcionários', '501+']
    ]), {}, { class: "form-input h-9" } %>
      </div>
      <%= f.submit 'Cadastrar Empresa', class:"btn-primary cursor-pointer justify-self-start" %>
    <% end %>
  </div>
</div>
