<div data-controller="new-deal">
  <%= form_with(model: deal) do |form| %>
    <% if deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% deal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= form.label :stage_id %>
      <%= form.select(:stage_id, Stage.all.map { |stage| [stage.name, stage.id] }, {}, { class: 'form-control' }) %>
    </div>

    <div class="section-title">Contact</div>

    <div class="form-group">
      <select class="form-control select2">
        <option selected="selected" disabled hidden>Select</option>
        <option>New contact</option>
      </select>
    </div>

    <%= form.hidden_field :contact_id, class: 'form-control' %>

    <div class="card-footer text-right">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>