<section class="section">
  <div class="section-header">
    <h1><%= @deal.name %></h1>
  </div>

  <div class="row">
    <div class="col-12 col-md-7 col-lg-4">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Details</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: @deal, role:"form", class:"needs-validation") do |f| %>
            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="card-footer text-right">
              <%= f.submit 'Submit', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card card-primary">
        <div class="card-header">
          <h4>Contact</h4>
        </div>
        <div class="card-body">
          <%= render '/contacts/form', contact: @deal.contact %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Story</h4>
        </div>
        <div class="card-body">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li hidden class="nav-item">
              <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Note</a>
            </li>
            <li hidden class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#whatsapp" role="tab" aria-controls="whatsapp" aria-selected="true">Whatsapp</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
              <%= render "/deals/notes/form.html.erb", note: @note %>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <%= render "/deals/activities/form", activity: @activity %>
            </div>
            <div class="tab-pane fade show active" id="whatsapp" role="tabpanel" aria-labelledby="whatsapp-tab">
              <%= render "/deals/activities/wp_form", flow_item: @flow_item, deal: @deal %>
            </div>
          </div>
        </div>
      </div>

      <%= render "/deals/flow_items/items", deal: @deal %>
    </div>
  </div>
</section>
