<section class="section">
  <div class="section-header">
    <h1><%= @deal.name %></h1>
  </div>

  <div class="row">
    <div class="col-12 col-md-7 col-lg-4">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Details</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: @deal, role:"form", class:"needs-validation") do |f| %>
            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>

            <div class="card-footer text-right">
              <%= f.submit 'Submit', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card card-primary">
        <div class="card-header">
          <h4>Contact</h4>
        </div>
        <div class="card-body">
          <%= render '/contacts/form', contact: @deal.contact %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Story</h4>
        </div>
        <div class="card-body">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Note</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" hidden id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Active</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <%= render "/deals/notes/form.html.erb", note: @note %>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              Sed sed metus vel lacus hendrerit tempus. Sed efficitur velit tortor, ac efficitur est lobortis quis. Nullam lacinia metus erat, sed fermentum justo rutrum ultrices. Proin quis iaculis tellus. Etiam ac vehicula eros, pharetra consectetur dui. Aliquam convallis neque eget tellus efficitur, eget maximus massa imperdiet. Morbi a mattis velit. Donec hendrerit venenatis justo, eget scelerisque tellus pharetra a.
            </div>
          </div>

        </div>
      </div>

      <div class="col-12">
        <div class="activities">
          <% @deal.flow_items.each do | flow_item | %>
            <div class="activity">
              <div class="activity-icon bg-primary text-white shadow-primary">
                <i class="fas fa-sticky-note"></i>
              </div>
              <div class="activity-detail">
                <div class="mb-2">
                  <span class="text-job text-primary"><%= time_ago_in_words(flow_item.created_at) %> ago</span>
                  <span class="bullet"></span>
                  <div class="float-right dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu">
                      <div class="dropdown-title">Options</div>
                      <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Edit</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item has-icon text-danger trigger--fire-modal-1" data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?" data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Delete</a>
                    </div>
                  </div>
                </div>
                <p><%= flow_item.note.content %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
