<div class='max-w-lg self-start'>
  <%= render 'header_nav' %>
  <%= form_with(model: @account, url: installation_update_step_3_path, method: :patch, local: true) do |f| %>
    <%= render 'form_errors', model: @account %>
    <div class="grid gap-5">
      <div class="grid gap-1">
        <%= f.label :name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "Company Name", class: "form-input h-9", required: true %>
      </div>
      <div class="grid gap-1">
        <%= f.label :site_url, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.text_field :site_url, autofocus: true, autocomplete: "Company Site", class: "form-input h-9", required: true %>
      </div>
      <div class="grid gap-1">
        <%= f.label :segment, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.select :segment, options_for_select(Account.segments.keys.map { |segment| [Account.human_enum_name(:segment, segment), segment] }), {}, { class: "form-input h-9" } %>
      </div>
      <div class="grid gap-1">
        <%= f.label :number_of_employees, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.select :number_of_employees, options_for_select(Account.number_of_employees.keys.map { |number_of_employee| [Account.human_enum_name(:number_of_employeess, number_of_employee), number_of_employee] }), {}, { class: "form-input h-9" } %>
      </div>
      <%= f.submit 'Cadastrar Empresa', class:"btn-primary cursor-pointer justify-self-start" %>
    <% end %>
  </div>
</div>
