<div class='max-w-lg self-start'>
  <%= render 'header_nav' %>
  <%= form_with(model: @user, url: installation_update_step_1_path, method: :patch, local: true) do |f| %>
    <%= render 'form_errors', model: @user %>
    <div class="grid gap-5">
      <div class="inline-flex gap-4 items-center">
        <div class="w-24 h-24 rounded-full">
          <%= image_tag current_user.avatar_url, class: 'w-full h-full object-cover rounded-full' %>
        </div>
        <div class='btn-secondary cursor-pointer hidden'>
          Alterar Imagem
        </div>
      </div>
      <div class="grid gap-1">
        <%= f.label :full_name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.text_field :full_name, autofocus: true, autocomplete: "full name", class: "form-input h-9", required: true %>
      </div>
      <div class="grid gap-1">
        <%= f.label :phone, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-input h-9", data: {controller: 'input-mask--input-phone'} %>
      </div>
      <div class="grid gap-1">
        <%= f.label :job_description, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= f.select :job_description, options_for_select(User.job_descriptions.keys.map { |job| [User.human_enum_name(:job_description, job), job] }), {}, { class: "form-input h-9" } %>
      </div>
      <%= f.submit 'Próxima Etapa', class:"btn-primary cursor-pointer justify-self-start" %>
    <% end %>
  </div>
</div>
