<h1 class="typography-title-b-lh150 text-dark-palette-p4 text-center mb-3">
  <%= t('views.devise.sessions.new.log_in') %>
</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="grid gap-5">
    <div class="grid gap-1">
      <%= f.label :email, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>
    <div class="grid gap-1">
      <div class="flex items-center justify-between">
        <%= f.label :password, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
        <%= link_to t('views.devise.sessions.new.forgot_password'), new_password_path(resource_name), class: "typography-text-m-lh150 text-dark-gray-palette-p1 hover:text-brand-palette-02 hidden" %>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-input w-full" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="flex justify-end">
        <div class="flex items-center gap-2">
          <%= f.check_box :remember_me, class: 'rounded text-brand-palette-03 focus:border-transparent focus:ring-0' %>
          <%= f.label :remember_me  %>
        </div>
      </div>
    <% end %>
    <%= f.submit t('views.devise.sessions.new.log_in'), class: "btn-primary cursor-pointer" %>
  </div>
<% end %>
<% if ENV.fetch('ENABLE_USER_SIGNUP', 'true') == 'true' %>
  <div class="text-center typography-text-m-lh150 text-dark-gray-palette-p1 mt-5">
    <%= t('views.devise.sessions.new.account_answer') %> <%= link_to t('views.devise.sessions.new.create_account'), new_registration_path(resource_name), data: { turbo: false}, class: "text-brand-palette-02 hover:text-brand-palette-01" %>
  </div>
<% end %>
