<%= form_for([current_user.account, contact], html:{class: "flex flex-col gap-5"}) do | form | %>
  <% if contact.errors.any? %>
    <div>
      <ul>
        <% contact.errors.each do |error| %>
          <li class="typography-body-s-lh150 text-auxiliary-palette-red"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1">
    <%= t('views.accounts.contacts.form.contact_data') %>
  </h2>
  <div class= "grid 2xl:grid-cols-6 gap-4">
    <div class="flex flex-col 2xl:col-span-4 gap-1">
      <%= form.label :full_name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.text_field :full_name, placeholder: "João Paulo", class: 'form-input' %>
    </div>
    <div class="flex flex-col 2xl:col-span-2 gap-1">
      <%= form.label :phone, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.text_field :phone, placeholder: "+5522999999999", class: 'form-input', data: {controller: "input-mask--input-phone"} %>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <%= form.label :email, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
    <%= form.text_field :email, placeholder: "joaopaulo@email.com", class: 'form-input' %>
  </div>
  <div class="flex flex-col gap-1">
    <%= form.label :label_list, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
    <%= form.text_field :label_list,  value: contact.labels.join(', '), placeholder: t('views.accounts.contacts.form.tag_placeholder'), class: 'form-input !border-light-palette-p3', data: {controller: 'tag-input'}%>
  </div>
  <!-- <div class="grid">
    <label class= "typography-text-m-lh150 text-dark-gray-palette-p1">Labels</label>
    <select disabled class="form-input" multiple="">
      <%= contact.labels.each do | label | %>
        <option selected><%= label.name %></option>
      <% end %>
    </select>
  </div> -->
  <div class="h-0.5 w-full bg-light-palette-p3"></div>
  <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1">
    <%= t('activerecord.attributes.contact.chatwoot_conversations_label_list') %>
  </h2>
  <% if contact.chatwoot_conversations_labels.empty? %>
    <p class="typography-text-m-lh150 text-dark-gray-palette-p1">
      <%= t('views.accounts.contacts.form.chatwoot_conversations_label_list_empty') %>
    </p>
  <% else %>
    <%= render 'components/list_labels', labels: contact.chatwoot_conversations_label_list, max_width: 'none', justify_content: 'start' %>
  <% end %>
  <div class="h-0.5 w-full bg-light-palette-p3"></div>
  <%= render 'accounts/custom_attributes', m: contact, f: form %>
  <div class="flex gap-2 self-end">
    <%= link_to account_custom_attributes_definitions_path(current_user.account), class:"btn-secondary flex items-center gap-2", data:{ turbo_frame: :_top } do %>
      <i data-lucide="plus"></i>
      <%= t('activerecord.models.custom_attribute_definition.add') %>
    <% end %>
    <%= form.submit class: 'btn-primary cursor-pointer' %>
  </div>
<% end %>
