<li>
  <a data-action="click->contact-select#select" contact-name="<%= contact.full_name %>" value="<%= contact.id%>" class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white hover:no-underline">
    <img class="w-6 h-6 mr-2 rounded-full" src="https://avatar.vercel.sh/personal.png" alt="Jese image">
    <%= contact.full_name %> - <%= contact.phone %> - <%= contact.email %>
  </a>
</li>
