<%= turbo_frame_tag "kind_content" do %> <% end %>

<div data-controller="events-form" class="bg-light-palette-p5 border-2 border-neutral-150 border-light-palette-p3 rounded">
  <header class="border-b-2 border-neutral-100 h-18 flex flex-wrap items-center px-3 py-4">
    <p class="mb-4 flex-[1_1_180px] min-[876px]:mb-0  text-gray-palette-p-1 font-semibold text-lg">Ações</p>

    <div class="flex space-x-2.5">
      <!-- Icone atividade -->
      <a data-action="click->events-form#selectActivity" class="transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900 hover:no-underline hover:cursor-pointer">
        <div class="w-10 rounded-lg border h-10 transition min-[495px]:rounded-none delay-100 duration-100 px-2 min-[495px]:rounded-l-lg min-[495px]:border-y min-[495px]:border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 group-[.btn-active]:bg-light-palette-p5">
          <i data-lucide="clipboard-list" class="transition delay-100 duration-100 h-3.5 text-gray-pallete-p3 group-hover:text-brand-palette-03 group-[.btn-active]:text-brand-palette-03"></i>
        </div>
        <div class="hidden min-[495px]:flex transition delay-100 duration-100 flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full group-[.btn-active]:bg-brand-palette-08">
          <p class=" transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1 group-hover:font-medium group-[.btn-active]:text-brand-palette-03 group-[.btn-active]:font-semibold">Atividade</p>
        </div>
      </a>
      <!-- Icone nota -->
      <a data-action="click->events-form#selectNote" class="transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900 hover:no-underline hover:cursor-pointer">
        <div class="w-10 border rounded-lg h-10 transition min-[495px]:rounded-none delay-100 duration-100 px-2 min-[495px]:rounded-l-lg min-[495px]:border-y min-[495px]:border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 group-[.btn-active]:bg-light-palette-p5">
          <i data-lucide="menu-square" class="transition delay-100 duration-100 h-3.5 text-gray-pallete-p3 group-hover:text-brand-palette-03 group-[.btn-active]:text-brand-palette-03"></i>
        </div>
        <div class="hidden min-[545px]:flex transition delay-100 duration-100 flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full group-[.btn-active]:bg-brand-palette-08">
          <p class="transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1 group-hover:font-medium group-[.btn-active]:text-brand-palette-03 group-[.btn-active]:font-semibold">Nota</p>
        </div>
      </a>
      <!-- Icone WhatsApp -->
      <a data-action="click->events-form#selectWppConnect" class="transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900  hover:no-underline hover:cursor-pointer">
        <div class="w-10 border rounded-lg h-10 transition min-[495px]:rounded-none delay-100 duration-100 px-2 min-[495px]:rounded-l-lg min-[495px]:border-y min-[495px]:border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 group-[.btn-active]:bg-light-palette-p5">
          <%= embedded_svg('icon-whtass.svg', class:"transition delay-100 duration-100 h-3.5 fill-gray-pallete-p3 mx-auto group-hover:fill-brand-palette-03") %>  
        </div>
        <div class="hidden min-[647px]:flex transition delay-100 duration-100 flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full group-[.btn-active]:bg-brand-palette-08">
          <p class="transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1 group-hover:font-medium group-[.btn-active]:text-brand-palette-03 group-[.btn-active]:font-semibold">WhatsApp</p>
        </div>
      </a>
      <!-- Icone e-mail -->
      <a href="#" class="!mr-2.5 transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900  hover:no-underline">
        <div class="w-10 border rounded-lg h-10 transition min-[495px]:rounded-none delay-100 duration-100 px-2 min-[495px]:rounded-l-lg min-[495px]:border-y min-[495px]:border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 group-[.btn-active]:bg-light-palette-p5 hover:cursor-pointer">
          <i data-lucide="mail" class="transition delay-100 duration-100 h-3.5 text-gray-pallete-p3 group-hover:text-brand-palette-03 group-[.btn-active]:text-brand-palette-03"></i>
        </div>
        <div class="hidden md:flex transition delay-100 md:duration-100 md:flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full group-[.btn-active]:bg-brand-palette-08">
          <p class="transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1 group-hover:font-medium group-[.btn-active]:text-brand-palette-03 group-[.btn-active]:font-semibold">Email</p>
        </div>
      </a>
    </div>
  </header>

  <div class="flex justify-center overflow-hidden h-auto" data-events-form-target="forms">
    <div class="px-4 py-5 items-center text-center events-form-active" data-events-form-target="kindNone">
      <div class="flex justify-center items-center flex-col mt-4">
        <div class="border-2 rounded-md flex justify-center items-center text-center w-11 h-11 border-brand-palette-07 bg-brand-palette-08">
          <i data-lucide="layout-grid" class="text-brand-palette-03"></i>
        </div>
      </div>
      <div class="m-3">
        <p class="font-semibold mb-0 text-base text-gray-pallete-p1">Adicionar atividade</p>
        <p class="font-thin text-gray-pallete-p3">Clique aqui ou nos campos acima para adicionar uma atividade</p>
        <p></p>
      </div>
    </div>

    <%= render "components/events/form/note" %>
    <%= render "components/events/form/activity" %>
    <%= render "components/events/form/wpp_connect_message", event: @event, deal: @deal %>
  </div>
</div>
