<%= stylesheet_link_tag "form_actions", media: 'all' %>

<%= turbo_frame_tag "kind_content" do %> <% end %>

<div class="form_deals">
  <p class="text">Ações</p>
  <div class="buttons_form">
  <a href="#" class="buttons_a"><%= embedded_svg('icon-sheet.svg') %>Atividade</a>
  <a href="#" class="buttons_a"><%= embedded_svg('icon-list.svg') %>Nota</a>
  <a href="#" class="buttons_a"><%= embedded_svg('icon-whtass.svg') %>Whatsapp</a>
  <a href="#" class="buttons_a"><i class="fas fa-envelope"></i></a>
  <a href="#" class="arrow_down"><i class="fas fa-chevron-down"></i></a>
</div>