<%= form_with(model: model, url: url, html:{class: "flex flex-col gap-5"} ) do | form | %>
  <% if model.errors.any? %>
    <div>
      <ul>
        <% model.errors.each do |error| %>
          <li class="typography-body-s-lh150 text-auxiliary-palette-red"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1">
    <%= t('views.accounts.users.form.user_data') %>
  </h2>
  <div class="flex flex-col gap-1">
    <%= form.label :full_name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
    <%= form.text_field :full_name, placeholder: "João Paulo", class: 'form-input' %>
  </div>
  <div class= "grid lg:grid-cols-3 gap-4">
    <div class="flex flex-col gap-1">
      <%= form.label :email, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.text_field :email, placeholder: "joão@email.com", class: 'form-input' %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :phone, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.text_field :phone, placeholder: "+5522999999999", class: 'form-input',  data: {controller: 'input-mask--input-phone'}%>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :language, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.select(:language, LANGUAGES_CONFIG.map {|l| [l[1][:name], l[1][:iso_639_1_code]]} , {}, { class: 'form-input' }) %>
    </div>
  </div>
  <div class="grid lg:grid-cols-2 gap-4">
    <div class="flex flex-col gap-1">
      <%= form.label :password, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.password_field :password, placeholder: "123456", class: 'form-input' %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :password_confirmation, class: "typography-text-m-lh150 text-dark-gray-palette-p1"  %>
      <%= form.password_field :password_confirmation, placeholder: "123456", class: 'form-input' %>
    </div>
  </div>
  <h3 class= "typography-body-s-lh150 text-dark-gray-palette-p1 mt-5">
    <%= t('views.accounts.users.form.access_token') %>
  </h3>
  <div class='grid gap-2'>
    <div class="w-full max-w-[48rem]"  data-controller="clipboard">
      <div class="relative">
        <label for="user-token" class="sr-only">Label</label>
        <input id="user-token" data-clipboard-target="source" type="password" class="form-input col-span-6 focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="<%= model.get_jwt_token %>" disabled readonly>
        <button data-action="clipboard#copy" data-copy-to-clipboard-target="npm-install-copy-text" class="absolute end-2.5 top-1/2 -translate-y-1/2 text-gray-900 dark:text-gray-400 hover:bg-brand-palette-07 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 rounded-lg py-2 px-2.5 inline-flex items-center justify-center bg-white border-brand-palette-06 border">
          <span data-clipboard-target="defaultMessage" class="inline-flex items-center">
            <i data-lucide="clipboard-list" class="w-3.5 h-3.5 me-1.5 stroke-ark-gray-palette-p1"></i>
            <span class="text-xs font-semibold text-dark-gray-palette-p1""><%= t('views.accounts.users.form.copy') %></span>
          </span>
          <span data-clipboard-target="successMessage" class="hidden inline-flex items-center">
            <i data-lucide="check" class='w-3.5 h-3.5 me-1 stroke-brand-palette-03'></i>
            <span class="text-xs font-semibold dark:text-blue-500 text-brand-palette-03 "><%= t('views.accounts.users.form.copied') %></span>
          </span>
        </button>
      </div>
    </div>
    <p class="typography-text-m-lh150 text-dark-gray-palette-p4 ">
      <%= t('views.accounts.users.form.access_token_info') %>
    </p>
  </div>
  <h3 class= "typography-body-s-lh150 text-dark-gray-palette-p1 mt-5">
    <%= t('views.accounts.users.form.notifications') %>
  </h3>
  <div class="grid gap-3">
    <div class="grid gap-2" data-controller='webpush-subscription' data-webpush-subscription-subscriptions-url-value='<%= account_webpush_subscriptions_path(current_user.account) %>'>
      <button class='btn-secondary place-self-start hidden' data-webpush-subscription-target='activateNotificationsBtn' data-action='webpush-subscription#showPermissionWebpushSubscription'><%= t('views.accounts.users.form.push_notification_btn') %></button>
      <p class='typography-text-m-lh150 text-dark-gray-palette-p4 hidden' data-webpush-subscription-target='activateWebpushInfo'><%= t('views.accounts.users.form.push_notification_activate_message') %></p>
    </div>
    <div class="flex items-center gap-2">
      <%= form.check_box :webpush_notify_on_event_expired, class: 'checkbox' %>
      <%= form.label :webpush_notify_on_event_expired, class: 'typography-text-m-lh150 text-dark-gray-palette-p1' %>
    </div>
  </div>
  <div class="flex gap-2 self-end">
    <%= form.submit class: 'btn-primary cursor-pointer'%>
  </div>
<% end %>
