<%= turbo_stream.append dom_id(@stage, :deals) do %>
  <% @deals.each do |deal| %>
    <%= render partial: 'accounts/pipelines/deal', locals: {deal: deal} %>
  <% end %>
  <% if @pagy.next.present? %>
    <%= turbo_frame_tag dom_id(@stage, :pagination_deals), src: account_stage_path(Current.account, @stage, filter_status_deal: @filter_status_deal, page: @pagy.next, format: :turbo_stream), loading: :lazy do  %>
      <div class='py-5'>
        <%= render '/components/loading' %>
      </div>
    <% end %>
  <% end %>
<% end %>
<% unless @pagy.next.present? %>
  <%= turbo_stream.remove dom_id(@stage, :pagination_deals) %>
<% end %>
