<%= form_with(model: wpp_connect, url: account_apps_wpp_connects_path(current_user.account), method: :post, data: {turbo: false}, id: 'formId') do |form| %>
  <% if wpp_connect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wpp_connect.errors.count, "error") %> prohibited this activity kind from being saved:</h2>

      <ul>
        <% wpp_connect.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <%
=begin%>
 <div class="form-group">
    <%= form.label :secretkey %>
    <%= form.text_field :secretkey, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :endpoint_url %>
    <%= form.text_field :endpoint_url, class: 'form-control' %>
  </div> 
<%
=end%>

  <div class="card-footer text-right">
    <%= form.submit 'New connection', class: 'btn btn-primary' %>
  </div>
<% end %>
