<section class="m-8 p-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md">
  <ul class="space-y-5">
    <% @wp_connects.each do | wp_connect | %>
      <li  class= "flex items-center gap-4">
        <div class="p-2.5 rounded-lg border-2 border-light-palette-p3 bg-[#f4fdf7]">
          <%= embedded_svg('icon-whtass.svg', {class: "w-5 fill-[#26D367]"}) %>
        </div>
        <div class="mr-auto">
          <div class='flex items-center gap-1.5'>
            <h2 class="typography-text-s-lh150 text-dark-gray-palette-p1"><%= wp_connect.name %></h2>
            <p class="typography-sub-text-r-lh150 text-dark-gray-palette-p4"><%= wp_connect.id %>
            </p>
          </div>
          <p class="typography-sub-text-r-lh150 text-dark-gray-palette-p3"><%= wp_connect.active? ? 'Ativo' : 'Inativo' %></p>
        </div>
        <button id="dropdownWppBtn" data-dropdown-toggle="dropdownWppOptions" data-dropdown-placement="left-start" class="inline-flex  items-center p-2 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
          <i data-lucide="more-vertical" class=" stroke-dark-gray-palette-p3"></i>
        </button>
        <div id="dropdownWppOptions" class="z-10 hidden left-16 bg-white divide-y divide-gray-100 rounded-lg shadow w-48 dark:bg-gray-700">
          <ul class="py-2 typography-text-m-lh150 text-dark-gray-palette-p3  dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to '#', class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white' do %>
              <i data-lucide="info"></i> <p>Detalhes</p>
              <% end %>
            </li>
            <li>
              <%= link_to '#', method: :delete, class: 'flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:text-dark-gray-palette-p1 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                <i data-lucide="trash"></i> <p>Excluir</p>
              <% end %>
            </li>
          </ul>
        </div>
      </li>
      <div class="w-full h-0.5 bg-light-palette-p3 last:hidden"></div>
    <% end %>
  </ul>
</section>

