<%= form_with(model: @account, url: account_index_path, data: {turbo: false}, id: 'formId', class: 'flex flex-col gap-5') do |form| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this activity kind from being saved:</h2>

      <ul>
        <% @account.errors.each do |error| %>
          <li class="typography-body-s-lh150 text-auxiliary-palette-red"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid gap-5">
    <div class="grid gap-1">
      <%= account_fields.label :name, t('views.devise.registrations.new.company') , class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= account_fields.text_field :name, autofocus: true, autocomplete: "Empresa", class: "form-input", required: true %>
    </div>
    <div class="grid gap-1">
      <%= account_fields.label :site_url, t('views.devise.registrations.new.url_company') , class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= account_fields.text_field :site_url, autofocus: true, autocomplete: "Site da empresa", class: "form-input" %>
    </div>
    <%= form.submit "Cadastrar", class:"btn-primary cursor-pointer" %>
<% end %>
