<div class="border-t border-light-palette-p3 p-3 mt-4 grid gap-2.5 <%= ['new', 'new_bulk_action'].include?(action_name) ? '' : 'hidden'%> " >
  <p class="typography-text-m-lh150 text-dark-gray-palette-p1">
    <%= t('views.components.events.form.attachments.files') %>
  </p>
  <div class='flex gap-2.5 items-center'>
    <div class='btn-secondary p-2.5 cursor-pointer' data-action="click->event-form--upload-files#trigger">
      <i data-lucide="paperclip"></i>
    </div>
    <div class='btn-secondary p-2.5 cursor-pointer ' data-action="click->event-form--upload-files#recordAudio">
      <img src="<%= asset_path('mic.svg') %>" alt="" data-event-form--upload-files-target="recordIcon">
    </div>
    <div class='flex-1  w-full'>
      <div class="flex gap-2.5 items-center" data-event-form--upload-files-target='micWaveWrapper'>
        <p class="typography-body-m-lh150 text-dark-gray-palette-p2" data-event-form--upload-files-target='progressRecord'></p>
        <div id='micWave' data-event-form--upload-files-target='micWave' class='w-full'></div>
      </div>
    </div>
  </div>
  <div id='uploads' class="max-h-56 grid gap-4 overflow-y-auto custom-scroll-list-deal">
    <div class='p-1 pr-2 border border-light-palette-p3 rounded-lg flex items-center gap-2.5 hidden' id='audioWrapper'>
      <div class='flex gap-4 items-center' id='fileInfoWrapper'>
        <button class='rounded-full p-2 btn-primary pointer-events-none' id='playPauseBtn'>
          <img src="<%= asset_path('play-solid-white.svg')  %>" alt="" class="w-5 h-5" id='playPauseSvg'>
        </button>
        <p class='text-dark-gray-palette-p1 typography-text-m-lh150 w-56 truncate' id='fileName'></p>
      </div>
      <div class='flex-1 w-full' id='uploadInfo'>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 flex-1" id="progressWrapper">
          <div class="bg-brand-palette-03 h-2.5 rounded-full ease-in duration-300" id="progressBar" style="width: 0%"></div>
        </div>
      </div>
      <div class="p-2.5 cursor-pointer" data-action="click->event-form--upload-files#removeFile">
        <img src="<%= asset_path('xmark-solid.svg') %>" alt="" class="w-4" >
      </div>
    </div>
    <div class='p-1 pr-2 border border-light-palette-p3 rounded-lg flex items-center gap-2.5 hidden' id='fileWrapper' >
      <div id='fileInfoWrapper'>
        <a href="" class='flex gap-4 items-center pointer-events-none' id='linkThumb'>
          <img src="" class='w-10 h-10 rounded-lg object-cover' id='fileThumb'>
          <p class='text-dark-gray-palette-p1 typography-text-m-lh150 w-56 truncate' id='fileName'></p>
        </a>
      </div>
      <div class='flex-1 w-full' id='uploadInfo'>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 flex-1" id="progressWrapper">
          <div class="bg-brand-palette-03 h-2.5 rounded-full ease-in duration-300" id="progressBar" style="width: 0%"></div>
        </div>
      </div>
      <div class="p-2.5 cursor-pointer" data-action="click->event-form--upload-files#removeFile">
        <img src="<%= asset_path('xmark-solid.svg') %>" alt="" class="w-4" >
      </div>
    </div>
    <input type="file" class="hidden" multiple data-event-form--upload-files-target="fileInput" data-action="change->event-form--upload-files#acceptFiles" name="<%= form.object.class.name.downcase %>[files][]"/>
  </div>
</div>
