<%= form_with(model: event, url: url, namespace: 'evolution_api', data: {controller: 'event-send-message-form event-form--upload-files',   'event-form--upload-files-pause-record-svg-url-value': asset_path('pause-record.svg'),  'event-form--upload-files-pause-wave-svg-url-value': asset_path('pause-white.svg'),  'event-form--upload-files-play-wave-svg-url-value': asset_path('play-solid-white.svg') , 'event-form--upload-files-mic-svg-url-value': asset_path('mic.svg'), 'event-form--upload-files-accepted-types-value': '["text", "video", "image", "application", "audio"]', action: action_name == 'edit' ? '' :  "drop->event-form--upload-files#acceptFiles dragenter->event-form--upload-files#showDragAlert dragleave->event-form--upload-files#removeDragAlert" }, class:"relative z-0 ") do |form|  %>
  <%= render '/components/events/drag_and_drop' %>
  <%= render '/components/events/form/message_errors', model: event %>
  <%= form.hidden_field :app_type, value: 'Apps::EvolutionApi' %>
  <%= form.hidden_field :kind, value: 'evolution_api_message' %>
  <%= form.hidden_field :from_me, value: true %>
  <%= form.hidden_field :deal_id %>
  <%= form.hidden_field :contact_id %>
  <%= form.hidden_field :stage_id, value: params[:stage_id] %>
  <div class="p-3 mt-4 flex">
    <div class="w-full space-y-2">
      <%= form.label :app_id, t('views.components.events.form.evolution_api_message.from'), class:'typography-text-m-lh150 text-dark-gray-palette-p1 ' %>
      <%= form.select(:app_id, current_user.account.apps_evolution_apis.connected.map { | instance | [ "#{instance.name} - #{instance.phone}", instance.id ]  } , {}, {class: 'form-input w-full', required: true} ) %>
    </div>
  </div>
  <div class="border-t border-light-palette-p3 p-3 space-y-2 grid">
    <%= form.label :content, t('views.components.events.form.evolution_api_message.content'), class:'typography-text-m-lh150 text-dark-gray-palette-p1'  %>
    <%= form.text_area :content, class: 'form-input' %>
  </div>
  <%= render 'components/events/form/attachments', form: form %>
  <%= render 'components/events/form/send_now', form: form %>
  <footer class="flex flex border-t border-light-palette-p3 p-4 gap-2 justify-end">
    <%= form.submit t('views.components.events.form.evolution_api_message.confirm'), class: 'btn-primary cursor-pointer' %>
    <%= render '/components/events/form/cancel_button', event: event, pipeline: (defined?(pipeline) ? pipeline : nil), stage: (defined?(stage) ? stage : nil) %>
  </footer>
<% end %>
