<div data-events-form-target="kindNote" hidden class="h-full w-full pt-3">
  <%= form_with(model: @event, url: account_contact_events_path(current_user.account, contact_id: @deal.contact.id, deal_id: @deal.id), namespace: 'note') do |form| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this activity kind from being saved:</h2>

        <ul>
          <% @event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :kind, value: 'note' %>
    <%= form.hidden_field :deal_id %>

    <div class="p-3 mt-2">
      <%= form.label :content, 'Nota', class:'py-2' %>
      <%= form.rich_text_area :content, class: 'woo-input pb-2' %>
    </div>

    <div class="flex flex-row-reverse border-t border-light-palette-p3 p-3 mt-4">
      <%= form.submit 'Confirmar', class: 'h-10 rounded-md border-light-palette-p3 bg-brand-palette-03 text-light-palette-p5 px-3' %>

      <input type="button" value="Cancelar" data-action="click->events-form#selectNone" class="h-10 rounded-md border border-gray-pallete-p3 bg-light-palette-p5 text-gray-pallete-p3 px-3 mx-2">
    </div>
  <% end %>
</div>