<div data-events-form-target="kindWppConnect" hidden class="h-full w-full">
  <%= form_with(model: event, url: account_contact_events_path(current_user.account, contact_id: deal.contact.id, deal_id: deal.id), namespace: 'wpp_connect') do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this activity kind from being saved:</h2>

        <ul>
          <% event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :app_type, value: 'Apps::WppConnect' %>
    <%= form.hidden_field :kind, value: 'wpp_connect_message' %>

    <div class="p-3 mt-4 flex">
      <div class="w-full pr-3">
        <%= form.label :app_id, 'De', class:'py-1' %>
        <%= form.select(:app_id, current_user.account.apps_wpp_connects.actives.map { | wpp | [ wpp.name, wpp.id ]  } , {}, {class: 'woo-input w-full'} ) %>
      </div>

      <div class="w-full">
        <%= form.fields_for(:custom_attributes) do |ca| %>
          <%= ca.label :wpp_connect_message_to, 'Para', class:'py-1' %>
          <%= ca.text_field :wpp_connect_message_to, value: event.contact.phone , class: 'woo-input w-full h-10' %>
        <% end %>
      </div>
    </div>

    <div class="border-t border-light-palette-p3 p-3 mt-4">
      <%= form.label :content, 'Conteúdo da mensagem', class:'py-2' %>
      <%= form.text_area :content, class: 'woo-input w-full' %>
    </div>


    <div class="border-t border-light-palette-p3 p-3 mt-4">
      <%= form.label "Agendar" %>
      <%= form.text_field :due, class: 'woo-input w-full', type: 'datetime-local' %>
    </div>

    <footer class="flex flex-row-reverse border-t border-light-palette-p3 p-3 mt-4">
      <%= form.submit 'Confirmar', class: 'h-10 rounded-md border-light-palette-p3 bg-brand-palette-03 text-light-palette-p5 px-3' %>

      <input type="button" value="Cancelar" data-action="click->events-form#selectNone" class="h-10 rounded-md border border-gray-pallete-p3 bg-light-palette-p5 text-gray-pallete-p3 px-3 mx-2">
    </footer>
  <% end %>
</div>


