<%= form_with( model: webhook, url: url, html:{class: "flex flex-col gap-5"} ) do | form | %>
  <% if webhook.errors.any? %>
    <div>
      <ul>
        <% webhook.errors.each do |error| %>
          <li class="typography-body-s-lh150 text-auxiliary-palette-red"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1">
    <%= t('views.accounts.settings.webhooks.form.webhook_data') %>
  </h2>
  <div class= "grid lg:grid-cols-3 gap-4">
    <div class="flex flex-col gap-1 lg:col-span-2">
      <%= form.label :url, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= form.text_field :url, placeholder: "https://n8n.io/", class: 'form-input' %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :status %>
      <%= form.select :status, Webhook.statuses.keys.reverse.map { |status| [Webhook.human_enum_name(:status, status), status] }, {}, class: 'form-input' %>
    </div>
  </div>
  <div class="flex gap-2 self-end">
    <%= form.submit class: 'btn-primary cursor-pointer' %>
  </div>
<% end %>
