<!DOCTYPE html>
<html>
  <head>
    <title>Woofed CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload", media: 'all' %>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/shared/analytics_scripts" %>

  </head>
  <body>
    <%= render "layouts/shared/analytics_scripts_body" %>
    <%= yield %>
  </body>
</html>
