<!DOCTYPE html>
<html>
  <head>
    <title>Woofed CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <% %w(57 60 72 76 114 120 144 152 180).each do |s| %>
      <link href="/public/apple-touch-icon-<%= s %>x<%= s %>.png" rel="apple-touch-icon" type="image/png" sizes= "<%= s %>x<%= s %>" />
    <% end %>
    <link href="/public/apple-touch-icon-57x57.png" rel="apple-touch-icon" type="image/png" sizes= "57x57" />
    <link href="/public/apple-touch-icon-60x60.png" rel="apple-touch-icon" type="image/png" sizes= "60x60" />
    <link href="/public/apple-touch-icon-72x72.png" rel="apple-touch-icon" type="image/png" sizes= "72x72" />
    <link href="/public/apple-touch-icon-76x76.png" rel="apple-touch-icon" type="image/png" sizes= "76x76" />
    <link href="/public/apple-touch-icon-114x114.png" rel="apple-touch-icon" type="image/png" sizes= "114x114" />
    <link href="/public/apple-touch-icon-120x120.png" rel="apple-touch-icon" type="image/png" sizes= "120x120" />
    <link href="/public/apple-touch-icon-144x144.png" rel="apple-touch-icon" type="image/png" sizes= "144x144" />
    <link href="/public/apple-touch-icon-152x152.png" rel="apple-touch-icon" type="image/png" sizes= "152x152" />
    <link href="/public/apple-touch-icon-180x180.png" rel="apple-touch-icon" type="image/png" sizes= "180x180" />
    <link href="/public/fav-icon-16x16.png" rel="icon" type="image/png" sizes= "16x16" />
    <link href="/public/fav-icon-32x32.png" rel="icon" type="image/png" sizes= "32x32" />
    <link href="/public/fav-icon-96x96.png" rel="icon" type="image/png" sizes= "96x96" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
