<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Woofed CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload", media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true, 'data-turbo-track': 'reload' %>
    <%= render "layouts/shared/analytics_scripts" %>
    <%= yield :stylesheets %>
  </head>
  <body class='max-w-[1800px] mx-auto px-10'>
    <section class='grid min-h-screen grid-rows-[85px_1fr_85px] gap-10 '>
      <header class=' self-center justify-self-center sm:justify-self-auto'>
        <div class='w-52'>
          <% if current_user.present? %>
            <%= image_tag 'logo.svg', class: 'w-full' %>
          <% else %>
            <%= link_to new_session_path(resource_name) do %>
              <%= image_tag 'logo.svg', class: 'w-full' %>
            <% end %>
          <% end %>
        </div>
      </header>
      <main class='grid items-center justify-center'>
        <%= yield %>
      </main>
      <footer class='flex flex-wrap gap-2 items-center justify-between  self-center'>
        <span>© 2024 WoofedCRM</span>
        <nav>
          <ul class='flex items-center gap-1 sm:gap-6 flex-wrap '>
            <li class='flex items-center gap-1.5'>
              <i data-lucide="lock" class="w-4 stroke-dark-gray-palette-p3"></i>
              <%= link_to 'Política de Privacidade', 'https://woofedcrm.com/policy-terms/', target: :_blank %>
            </li>
            <li class='flex items-center gap-1.5'>
              <i data-lucide="file" class="w-4 stroke-dark-gray-palette-p3"></i>
              <%= link_to 'Termos de Serviço', 'https://woofedcrm.com/terms-of-service/', target: :_blank %>
            </li>
          </ul>
        </nav>
      </footer>
    </section>
  </body>
</html>
