<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Woofed CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload", media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true, 'data-turbo-track': 'reload' %>
    <%= tag.meta name: "vapid-public-key", content: Rails.configuration.x.vapid.public_key %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>
    <%= render "layouts/shared/analytics_scripts" %>
    <%= yield :stylesheets %>
  </head>
  <body>
    <div id="app" class="h-screen">
      <%= render partial: 'components/flash_message', locals: { message: flash[:notice] } %>
      <div class="flex h-full">
        <div>
          <% unless controller_path == 'accounts/deals' && ['show'].include?(action_name) %>
            <%= render "layouts/shared/sidebar" %>
          <% end %>
        </div>
        <div class="flex flex-col h-full w-full overflow-auto">
          <nav class="h-20">
            <%= render "layouts/shared/navbar" %>
          </nav>
          <main class="h-full overflow-auto bg-brand-palette-08">
            <%= content_for?(:content) ? yield(:content) : yield %>
            <%= turbo_frame_tag "modal" %>
            <%= turbo_frame_tag :drawer %>
          </main>
        </div>
      </div>
    </div>
    <%= yield :javascripts %>
  </body>
</html>
