<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Woofed CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "#{controller_name}", media: 'all' rescue nil %>
    <%= javascript_pack_tag 'application', defer: true, 'data-turbo-track': 'reload' %>

    <%= yield :stylesheets %>
  </head>
  <body>
    <div id="app" class="h-screen">
      <div class="flex h-full">
        <div class="w-60">
          <%= render "layouts/shared/sidebar" %>
        </div>

        <div class="flex flex-col h-full w-full">
          <nav class="h-20">
            <%= render "layouts/shared/navbar" %>
          </nav>
          <main class="h-full overflow-auto">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </main> 
        </div>
      </div> 
    <div>
    <%= yield :javascripts %>
  </body>
</html>