<h2 class= "typography-body-s-lh150 text-dark-gray-palette-p1">
  <%= t('activerecord.models.custom_attribute_definition.other') %>
</h2>
<%= f.fields_for(:custom_attributes) do |sf| %>
  <%
=begin%>
  <% m.custom_attributes.each do | key, value | %>
    <div class="form-group">
      <%= sf.label key.to_sym %><br />
      <%= sf.text_field key.to_sym, value: value, autofocus: true, class: "form-control" %>
    </div>
  <% end %>
  <%
=end
%>
  <% current_user.account.custom_attributes_definitions.where(attribute_model: "#{m.class.name.downcase}_attribute").each do | custom_attribute | %>
    <div class="grid gap-1">
      <%= sf.label custom_attribute.attribute_key.to_sym, custom_attribute.attribute_display_name, class: "typography-text-m-lh150 text-dark-gray-palette-p1" %>
      <%= sf.text_field custom_attribute.attribute_key.to_sym, value: m.custom_attributes[custom_attribute.attribute_key], autofocus: true, class: "form-input" %>
    </div>
  <% end %>
<% end %>
